<div class="modal_wrapper">
    <div class="info_wrapp icon-enter">
        <h3 dir="auto" class="name">{{room_name}}</h3>
        <p dir="auto" class="description">{{room_description}}</p>
    </div>
    <p class="message">{{'PRIVATE_ROOM.PRIVATE' | translate}}</p>
    <i class="line"></i>
    <div class="buttons_wrapp">
        <button class="form_button" (click)="clickHandle(false)">{{'COMMON.CANCEL' | translate}}</button>
        <button class="form_button" (click)="clickHandle(true)">{{'COMMON.OK' | translate}}</button>
    </div>
</div>