<form action="#" class="modal_wrapper" #updateRoomForm="ngForm" (submit)="updateTheRoom(updateRoomForm, $event)">
  <div class="top_wrapper">
    <h3 class="title">Edit Room</h3>
  </div>
  <div class="main_wrapper">

    <div class="image_cropper_wrapp">
      <img-cropper #cropper [image]="added_image" [settings]="cropperSettings" *ngIf="image_dropped"></img-cropper>
      <img [src]="added_image.image" #previewImg class="image_preview"  *ngIf="added_image.image" >
      <input type="file" id="input_file" name="files" (change)="fileDropped($event)" hidden>
      <label for="input_file" class="room_thumbnail icon-image" [ngStyle]="!image_dropped && {'background-image': 'url(' + currentRoom.room_details.thumbnail + ')'}" [ngClass]="{'image_dropped': image_dropped}">
      </label>
    </div>


    <div class="right_zone_wrapper">
      <span class="input_wrapp ">
        Title:
        <input type="text" class="input_field" placeholder="Enter room name" name="room_name" (change)="haveChangedData('room_name', roomName)" [(ngModel)]="roomName"  minlength="3" maxlength="20" required>
        <span class="mistake">Wrong room name format</span>
      </span>

      <span class="input_wrapp with_margin">
        Alias:
        <input type="text" class="input_field" placeholder="Enter room alias" name="room_alias" (change)="haveChangedData('room_alias', roomAlias)" [(ngModel)]="roomAlias"  minlength="3" maxlength="15" pattern="^[a-zA-Z][a-zA-Z0-9]*[-]?[a-zA-Z0-9]+$" required>
        <span class="mistake">Wrong room name format</span>
      </span>

      <div class="input_wrapp with_margin">
        Description:
        <textarea  class="input_field room_description" placeholder="Enter room description (optional)" name="room_desc" (change)="haveChangedData('room_desc', roomDeskription)" [(ngModel)]="roomDeskription" maxlength="250" ></textarea>
      </div>

      <div class="input_wrapp with_margin">
        Tifo tags:
        <tag-input [(ngModel)]='tags' name="mod_name"  [maxItems]="4" [addOnBlur]="true" [addOnPaste]="true"
                   [placeholder]="'Tap tifo tag here...'" [secondaryPlaceholder]="'Tap tifo tag here...'" (onAdd)="tagsChanged()" (onRemove)="tagsChanged()" (onPaste)="tagsChanged()"></tag-input>
      </div>

      <div class="input_wrapp with_margin">
        Room type:
        <div class="toggle_wrapper">
          <span class="toggle_name">Public</span>
          <input type="checkbox" id="private" class="toggle_input" name="public" (change)="haveChangedData('public', publicFlag)" [(ngModel)]="publicFlag" checked hidden>
          <label for="private" class="toggle_field"></label>
        </div>
        <div class="toggle_wrapper">
          <span class="toggle_name">Searchable</span>
          <input type="checkbox" id="searchable" class="toggle_input" name="searchable_flag" (change)="haveChangedData('searchable_flag', searchableFlag)" [(ngModel)]="searchableFlag" checked hidden>
          <label for="searchable" class="toggle_field"></label>
        </div>
      </div>

      <button type="submit" class="form_button" [disabled]="updateRoomForm.invalid || button_disabled">Save changes</button>

    </div>

  </div>
</form>