<form action="#" class="modal_wrapper" #updateRoomForm="ngForm" (submit)="updateTheRoom(updateRoomForm, $event)">
  <div class="top_wrapper">
    <h3 class="title">{{'UPDATE_ROOM.EDIT_ROOM' | translate}}</h3>
  </div>
  <div class="main_wrapper">

    <div class="image_cropper_wrapp">
      <img-cropper #cropper [image]="added_image" [settings]="cropperSettings" *ngIf="image_dropped"></img-cropper>
      <img [src]="added_image.image" #previewImg class="image_preview"  *ngIf="added_image.image" >
      <input type="file" id="input_file" name="files" (change)="fileDropped($event)" hidden>
      <label for="input_file" class="room_thumbnail icon-image" [ngStyle]="!image_dropped && {'background-image': 'url(' + currentRoom.room_details.thumbnail + ')'}" [ngClass]="{'image_dropped': image_dropped}">
      </label>
    </div>


    <div class="right_zone_wrapper">
      <span class="input_wrapp ">
        {{'COMMON.TITLE' | translate}}:
        <input type="text" dir="auto" class="input_field" placeholder="{{'COMMON.ENTER_TIFO_NAME' | translate}}" name="room_name" (change)="haveChangedData('room_name', roomName)" [(ngModel)]="roomName"  minlength="3" maxlength="20" required>
        <span class="mistake">{{'COMMON.WRONG_ROOM_NAME' | translate}}</span>
      </span>

      <span class="input_wrapp with_margin">
        {{'UPDATE_ROOM.ALIAS' | translate}}:
        <input type="text" dir="auto" class="input_field" placeholder="{{'UPDATE_ROOM.ENTER_ALIAS' | translate}}" name="room_alias" (change)="haveChangedData('room_alias', roomAlias)" [(ngModel)]="roomAlias"  minlength="3" maxlength="15" pattern="^[a-zA-Z][a-zA-Z0-9]*[-]?[a-zA-Z0-9]+$" required>
        <span class="mistake">{{'UPDATE_ROOM.WRONG_ALIAS' | translate}}</span>
      </span>

      <div class="input_wrapp with_margin">
        {{'COMMON.DESCRIPT' | translate}}:
        <textarea  dir="auto" class="input_field room_description" placeholder="{{'UPDATE_ROOM.ENTER_DESCRIPT' | translate}}" name="room_desc" (change)="haveChangedData('room_desc', roomDeskription)" [(ngModel)]="roomDeskription" maxlength="250" ></textarea>
      </div>

      <div class="input_wrapp with_margin">
        {{'UPDATE_ROOM.TIFO_TAGS' | translate}}:
        <tag-input [(ngModel)]='tags' name="mod_name"  [maxItems]="4" [addOnBlur]="true" [addOnPaste]="true"
                   [placeholder]="'UPDATE_ROOM.TAP_TAGS' | translate" [separatorKeyCodes]="[32]" [secondaryPlaceholder]="'UPDATE_ROOM.TAP_TAGS' | translate" (onAdd)="tagsChanged()" (onRemove)="tagsChanged()" (onPaste)="tagsChanged()"></tag-input>
      </div>

      <div class="input_wrapp with_margin">
        {{'UPDATE_ROOM.TIFO_TYPE' | translate}}:
        <div class="toggle_wrapper">
          <span class="toggle_name">{{'COMMON.PUBLIC' | translate}}</span>
          <input type="checkbox" id="private" class="toggle_input" name="public" (change)="haveChangedData('public', publicFlag)" [(ngModel)]="publicFlag" checked hidden>
          <label for="private" class="toggle_field"></label>
        </div>
        <div class="toggle_wrapper">
          <span class="toggle_name">{{'COMMON.SEARCHABLE' | translate}}</span>
          <input type="checkbox" id="searchable" class="toggle_input" name="searchable_flag" (change)="haveChangedData('searchable_flag', searchableFlag)" [(ngModel)]="searchableFlag" checked hidden>
          <label for="searchable" class="toggle_field"></label>
        </div>
      </div>

      <button type="submit" class="form_button" [disabled]="updateRoomForm.invalid || button_disabled">{{'UPDATE_ROOM.SAVE_CHANGES' | translate}}</button>

    </div>

  </div>
</form>