<div class="main_container" appIeHeight>

  <div class="user_info_wrapp">
    <div class="avatar_name_wrapp">
      <span class="avatar"></span>
      <span class="name">User Name<span class="displayed_name">Username</span></span>
    </div>
    <p class="about_user">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Alias atque dolores eos, ipsam, iusto, labore minus odit quae sit
      sunt suscipit voluptas voluptates. A ab amet est ex facilis sed suscipit
      unde. Fuga fugit itaque nobis perspiciatis quas tempore voluptatem. Corporis
      ea eius error ex mollitia quos ratione, saepe vero.</p>
    <div class="buttons_wrapp">
      <span class="button icon-star-empty"></span>
      <span class="button icon-comments"></span>
    </div>
  </div>

</div>