

<div class="main_container" appScroolEnd (scrollRichTheEnd)="onScrollRichTheEnd($event)">

  <div class="user_info_wrapp" *ngIf="currentUser">
    <div class="avatar_name_wrapp">
      <div class="avatar_and_drop">
        <span class="avatar" [ngStyle]="currentUser.thumbnail && {'background-image':'url(' + currentUser.thumbnail + ')'}"></span>
          <div class="drop_down_container" *ngIf="!currentUser.is_myne">
            <div class="dots_wrapp">
              <i class="dots"></i>
              <i class="dots"></i>
              <i class="dots"></i>
            </div>
            <ul class="drop_down_menu" >
              <li class="triangle"><i class="trans_bar"></i></li>

              <li class="drop_down_item"
                  (click)="userInterraction('mute')">
                <span class="drop_down_fill icon-mute">Mute User</span>
              </li>

              <li class="drop_down_item"
                  (click)="userInterraction('block')">
                <span class="drop_down_fill icon-eye-blocked">Block User</span>
              </li>

            </ul>
          </div>


      </div>
      <span class="name">{{currentUser.user_name}}<span class="displayed_name">{{currentUser.display_name}}</span></span>

    </div>
    <p class="about_user">{{currentUser.about}}</p>
    <div class="buttons_wrapp">
      <span class="button icon-star-empty" [ngClass]="{'icon-star-full': currentUser.is_fave}" (click)="faveAndUnfave(currentUser.is_myne)" *ngIf="!currentUser.is_myne"></span>
      <span class="button icon-gear" [routerLink]="'/user-settings'"   *ngIf="currentUser.is_myne"></span>
      <span class="button icon-comments" (click)="goToPrivateDialog(currentUser.is_myne || !currentUser.msg_from_anyone && !currentUser.is_fan)"
            [ngClass]="{'disabled': !currentUser.msg_from_anyone && !currentUser.is_fan}" *ngIf="!currentUser.is_myne"></span>
    </div>
  </div>

  <div class="tags_wrapp" *ngIf="currentUser">
    <span class="tags" [routerLink]="['/about-user/' + user_id*22 + '/user-rooms']" routerLinkActive="active">Rooms ({{currentUser.rooms_count}})</span>
    <span class="tags" [routerLink]="['/about-user/' + user_id*22 + '/user-posts']" routerLinkActive="active">Posts ({{currentUser.posts_count}})</span>
    <span class="tags" [routerLink]="['/about-user/' + user_id*22 + '/user-fans']" routerLinkActive="active">Fans ({{currentUser.fans_count}})</span>
    <span class="tags" [routerLink]="['/about-user/' + user_id*22 + '/user-faves']" routerLinkActive="active">Favs ({{currentUser.faves_count}})</span>
  </div>

  <router-outlet></router-outlet>
</div>
