<div class="main_container">

  <div class="user_info_wrapp" *ngIf="currentUser">
    <div class="avatar_name_wrapp">
      <span class="avatar" [ngStyle]="{'background-image':'url(' + currentUser.thumbnail + ')'}"></span>
      <span class="name">{{currentUser.user_name}}<span class="displayed_name">{{currentUser.display_name}}</span></span>
    </div>
    <p class="about_user">{{currentUser.about}}</p>
    <div class="buttons_wrapp">
      <span class="button icon-star-empty" [ngClass]="{'icon-star-full': currentUser.is_fave, 'disabled': currentUser.is_myne}" (click)="faveAndUnfave(currentUser.is_myne)"></span>
      <span class="button icon-comments" (click)="goToPrivateDialog(currentUser.is_myne || !currentUser.msg_from_anyone && !currentUser.is_fan)"
            [ngClass]="{'disabled': currentUser.is_myne || !currentUser.msg_from_anyone && !currentUser.is_fan}"></span>
    </div>
  </div>

  <div class="tags_wrapp" *ngIf="currentUser">
    <span class="tags" [routerLink]="'/about-user/' + user_id*22 + '/user-rooms'" routerLinkActive="active">Rooms ({{currentUser.rooms_count}})</span>
    <span class="tags" [routerLink]="'/about-user/' + user_id*22 + '/user-posts'" routerLinkActive="active">Posts ({{currentUser.posts_count}})</span>
    <span class="tags" [routerLink]="'/about-user/' + user_id*22 + '/user-fans'" routerLinkActive="active">Fans ({{currentUser.fans_count}})</span>
    <span class="tags" [routerLink]="'/about-user/' + user_id*22 + '/user-faves'" routerLinkActive="active">Favs ({{currentUser.faves_count}})</span>
  </div>

</div>
  <router-outlet></router-outlet>
