<div class="image"></div>
<div class="form_wrapper">
  <form action="#" class="form" #recoveryForm="ngForm" (ngSubmit)="sendEmail(recoveryForm, $event)">
    <p class="title">{{'PASSWORD_RECOVERY.PASS_RECOVERY' | translate}}</p>
    <p class="subtitle">{{'PASSWORD_RECOVERY.EMAIL' | translate}}</p>
    <label class="input_wrapp icon-mail">
      {{'LOGIN_AND_REGISTER.EMAIL' | translate}}
      <input type="email" dir="auto" class="input_field" name="email" #inputEmail [(ngModel)]="email" required>
    </label>

    <button type="submit" [ngClass]="{'disabled_button': recoveryForm.invalid}" class="form_button" [disabled]="recoveryForm.invalid">{{'PASSWORD_RECOVERY.SEND' | translate}}</button>

    <p class="link_prew">{{'LOGIN_AND_REGISTER.HAVE_ACCOUNT' | translate}}?<span class="link_to" [routerLink]="'/registration'">{{'LOGIN_AND_REGISTER.SIGN_UP' | translate}}</span></p>
  </form>
  <div class="footer_wrapper">
    <div class="links_wrap">
      <a href="#" class="app_links apple"></a>
      <a href="#" class="app_links android"></a>
    </div>
    <footer class="form_footer">
      <span class="link" [routerLink]="'/about'">{{'COMMON.ABOUT_US' | translate}}</span>
      <span class="link" [routerLink]="'/support'">{{'COMMON.SUPPORT' | translate}}</span>
      <span class="link" [routerLink]="'/privacy'">{{'COMMON.PRIVACY' | translate}}</span>
      <span class="link" [routerLink]="'/term'">{{'COMMON.TERMS' | translate}}</span>
    </footer>
  </div>
</div>