<div class="image"></div>
<div class="form_wrapper">
    <form action="#" class="form" #regForm="ngForm" (ngSubmit)="sendLogInData(regForm, $event)">
        <p class="title">Welcome to<span class="title_bold">TIFO!</span></p>
        <p class="subtitle">Log in to meet photos and videos from your friends.</p>
        <label class="input_wrapp icon-mail">
            Email
            <input type="email" class="input_field" name="email" #inputEmail [(ngModel)]="email"  (input)="changeState('email', email)" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required>
            <span class="mistake">{{emailMistake}}</span>
        </label>
        <label class="input_wrapp icon-lock">
            Password
            <input type="password" class="input_field" name="password" #inputPassword [(ngModel)]="password" (input)="changeState('password', password)" minlength="4" maxlength="21" required>
            <span class="mistake">{{passwordMistake}}</span>
        </label>
        <button type="submit" class="form_button" [disabled]="regForm.invalid" [disabled]="buttonDisabled">Log in</button>

        <p class="link_prew">Have an account?<span class="link_to" [routerLink]="'/registration'">Sign up</span></p>
    </form>
    <div class="footer_wrapper">
        <div class="links_wrap">
            <a href="#" class="app_links apple"></a>
            <a href="#" class="app_links android"></a>
        </div>
        <footer class="form_footer">
            <a href="#" class="link">ABOUT US</a>
            <a href="#" class="link">SUPPORT</a>
            <a href="#" class="link">PRIVACY</a>
            <a href="#" class="link">TERMS</a>
        </footer>
    </div>
</div>

