<form class="modal_wrapper" #postEditForm="ngForm" (submit)="editThisPost(postEditForm)">
  <span class="icon-cancel" (click)="activeModal.dismiss()"></span>
  <div class="top_wrapper">
    <h3 class="title">Edit Post</h3>
  </div>
  <div class="main_wrapper">
    <textarea name="text" [(ngModel)]="textField"  class="text_field" placeholder="Type here ..."></textarea>

    <div class="right_zone_wrapper" >
      <div class="dropzone icon-clip" fileDrop (onFileDrop)="onFileDrop($event)">
        <span class="drag_zone_text">Drag & Drop to Upload <br> or <br></span>
        <label for="newpost_file" class="file_button">
          Click to upload the file
          <input type="file" name="files" id="newpost_file" [disabled]="mediaToAppServer.length >= 4" (change)="fileDropped($event)" hidden>
        </label>
      </div>
      <div class="preview_wrapp">
       <span class="images" *ngFor="let imgObj of mediaToAppServer; let i = index" [ngClass]="{'with_spinner': !imgObj.uploaded}" [ngStyle]="{'background-image':'url(' + imgObj.img_src + ')'}">
         <i class="delete icon-cancel" (click)="deletePreviewedImg(i)"></i>
       </span>
      </div>
    </div>

  </div>
  <button type="submit" class="form_button" [disabled]="postEditForm.invalid">Edit post</button>
</form>
