<div class="room_settings_header">{{currentRoom.room_details.room_alias}}</div>
<div class="main_container">
    <input type="checkbox" id="navigation_menu_toggle" hidden>
    <aside class="aside">
        <div class="label_wrapp">
            <label for="navigation_menu_toggle" class="show_menu_label icon-menu"></label>
        </div>
        <ul class="aside_content">
            <li class="aside_items aside_items_title">Members</li>
            <li class="aside_items" [routerLink]="'/room-settings/members-list'" routerLinkActive="active">Membership</li>
            <li class="aside_items aside_items_title">Walls</li>
            <li class="aside_items" [routerLink]="'/room-settings/add-wall'" routerLinkActive="active">Add wall</li>
            <li class="aside_items" [routerLink]="'/room-settings/walls-list'" routerLinkActive="active">Edit walls</li>
            <li class="aside_items aside_items_title">Room</li>
            <li class="aside_items" [routerLink]="'/room-settings/edit-room'" routerLinkActive="active">Edit room</li>
            <li class="aside_items" [routerLink]="'/room-settings/delete-room'" routerLinkActive="active">Delete room</li>
        </ul>
    </aside>

    <div class="main_field">
        <router-outlet></router-outlet>
    </div>
</div>

