<header class="header">
  <div class="navbar-container ">
    <div class="row">
      <div class="col-md-2 col-sm-1 col-xs-5 col-lg-3">
        <div class="header__logo">
          <span class="logo logo-1"></span>
          <span class="logo logo-2 hidden-xs hidden-sm hidden-md"></span>
        </div>
      </div>

      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-7 col-lg-push-5 col-md-push-5 col-sm-push-6">
        <div class="header__user">
          <span class="messages-bg gray-line"><span class="messages "></span></span>
          <span class="notify-bg gray-line"><span class="notify "></span></span>
          <div class="user">
            <div class="user__wrap">
              <span class="user__avatar"></span>
              <span class="user__name hidden-xs hidden-sm hidden-md">Matilda Boyd</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 col-lg-pull-4 col-md-pull-5 col-sm-pull-4">
        <form class="header__search">
          <input name="search" placeholder="Search" type="text">
          <button class="icon-search">
            <span class="icon-search-icon"></span>
          </button>
        </form>
      </div>

    </div>
  </div>
</header>