<header class="header">
  <div class="main_container">
    <div class="logo" [routerLink]="'/all-rooms'"></div>
    <div class="search">
      <input type="text" class="search_field" placeholder="Search">
      <span class="icon-search"></span>
    </div>
    <div class="icons_wrapper">
      <span class="icon-mail"></span>
      <span class="icon-bell-o new_events"></span>
      <span class="user_info" (click)="logOut()">
                <span class="avatar"></span>
                <span class="name">Matilda Boyd</span>
            </span>
    </div>
  </div>
</header>




<!--<header class="header header-shad">-->
  <!--<div class="navbar-container ">-->
    <!--<div class="row">-->
      <!--<div class="col-md-2 col-sm-2 col-xs-5 col-lg-3">-->
        <!--<div class="header__logo">-->
          <!--<span class="logo logo-1"></span>-->
          <!--<span class="logo logo-2 hidden-xs hidden-sm hidden-md"></span>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-lg-4 col-md-4 col-sm-10 col-xs-7 col-lg-push-5 col-md-push-6  ">-->
        <!--<div class="header__user navbar-2">-->
                    <!--<span class="messages-bg  gray-line"><span class="messages ">-->
                        <!--<div class="notif notif-nav messag"></div>-->
                        <!--</span>-->
                    <!--</span>-->
          <!--<span class="notify-bg gray-line"><span class="notify "></span></span>-->
          <!--<div class="user">-->
            <!--<div class="user__wrap">-->
              <!--<span class="user__avatar" (click)="logOut()"></span>-->
              <!--<span class="user__name hidden-xs hidden-sm hidden-md">Matilda Boyd</span>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-lg-5 col-md-6  col-xs-12 col-lg-pull-4 col-md-pull-4" *ngIf="!headerFieldToggle">-->
        <!--<div class="navbar-2">-->
          <!--<div class="navbar-2__name navbar-2__setting">-->
            <!--<span class="icon-setting icon-setting-pos icon"></span>-->
            <!--<h3 class="room-name room-name-wall">{{subheaderRoomName}}</h3>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-lg-5 col-md-5 col-sm-4 col-xs-12 col-lg-pull-4 col-md-pull-5 col-sm-pull-4" *ngIf="headerFieldToggle">-->
        <!--<form class="header__search">-->
          <!--<input name="search" placeholder="Search" type="text">-->
          <!--<button class="icon-search">-->
            <!--<span class="icon-search-icon"></span>-->
          <!--</button>-->
        <!--</form>-->
      <!--</div>-->



    <!--</div>-->
  <!--</div>-->
<!--</header>-->