<div class="modal_wrapper" >
  <span class="close_button icon-cancel" (click)="activeModal.dismiss()"></span>

  <div class="picture" [style.backgroundColor]="room_details.color" [ngStyle]="room_details.thumbnail && {'background-image':'url(' + room_details.thumbnail + ')'}"></div>
  <h3 dir="auto" class="title">{{room_details.room_name}}</h3>
  <div class="properties_wrap">
    <span class="property icon-earth" *ngIf="room_details.public">{{'COMMON.PUBLIC' | translate}}</span>
    <span class="property icon-earth" *ngIf="!room_details.public">{{'COMMON.PRIVATE' | translate}}</span>
    <span class="property icon-users">{{room_details.members_count}}</span>
    <span class="property icon-eye">{{room_details.visits_count}}</span>
  </div>
  <p dir="auto" class="describe" *ngIf="room_details.room_desc">{{room_details.room_desc}}</p>
  <div class="titled_wrapp">
    <span class="labels">{{'ABOUT_ROOM.TAGS' | translate}}</span>
    <div class="tags_wrapp">
      <span dir="auto" class="tag" *ngFor="let tag of room_details.tags && room_details.tags.split(' ') || []">{{tag}}</span>
    </div>
  </div>


</div>
