<div class="chat_wrapp">

    <div class="user_content_wrapp">
        <div class="user_info_wrapp">
            <span class="user_avatar"></span>
            <span class="message_time">12;23</span>
        </div>
        <div class="messages_wrapp">
            <p class="message">khefvuiheruioh jieio jerpfjeriovhoerjiejvouier</p>
            <p class="message">khefvuihe jerpf jeriovho erjiejv ouier</p>
            <p class="message">khefvuiheruioh jieio jerpfjeriov hg  ugsc ui efvkugh hoerjiejvouier</p>
        </div>
    </div>

    <div class="user_content_wrapp">
        <div class="user_info_wrapp">
            <span class="user_avatar"></span>
            <span class="message_time">12;23</span>
        </div>
        <div class="messages_wrapp">
            <p class="message">khefvuiheruioh jieio jerpfjeriovhoerjiejvouier</p>

        </div>
    </div>

    <div class="user_content_wrapp my_messages">
        <div class="user_info_wrapp">
            <span class="user_avatar"></span>
            <span class="message_time">12;23</span>
        </div>
        <div class="messages_wrapp">
            <p class="message">khefvuiheruioh jieio jerpfjeriovhoerjiejvouier</p>

        </div>
    </div>

    <div class="user_content_wrapp my_messages">
        <div class="user_info_wrapp">
            <span class="user_avatar"></span>
            <span class="message_time">12;23</span>
        </div>
        <div class="messages_wrapp">
            <p class="message">khefvuiheruioh jieio jerpfjeriovhoerjiejvouier</p>
            <p class="message">khefvuihe jerpf jeriovho erjiejv ouier</p>
            <p class="message">khefvuiheruioh jieio jerpfjeriov hg  ugsc ui efvkugh hoerjiejvouier</p>
        </div>
    </div>

    <div class="user_content_wrapp my_messages">
        <div class="user_info_wrapp">
            <span class="user_avatar"></span>
            <span class="message_time">12;23</span>
        </div>
        <div class="messages_wrapp">
            <p class="message">khefvuiheruioh jieio jerpfjeriovhoerjiejvouier</p>
            <p class="message">khefvuihe jerpf jeriovho erjiejv ouier</p>
            <p class="message">khefvuiheruioh jieio jerpfjeriov hg  ugsc ui efvkugh hoerjiejvouier</p>
        </div>
    </div>

</div>