<div class="main_container" appIeHeight>
    <!--<div class="rooms new_room" >-->
        <!--<div class="image"></div>-->
        <!--<div class="room_info">-->
            <!--<h4 class="room_name">add room</h4>-->
        <!--</div>-->
    <!--</div>-->

    <div class="rooms"  *ngFor="let room of allRooms; let i = index"
         [routerLink]="['/room', room.room.room_id]" [ngStyle]="{'background-color': room.room.color}">

        <div class="image" [ngStyle]="{'background-image':'url(' + room.room.thumbnail + ')'}"></div>
        <div class="room_info">
            <h4 class="room_name">{{room.room.room_name}}</h4>
            <span class="members icon-users">{{room.room.members_count}} members</span>
            <span class="views icon-eye">{{room.room.visits_count}} views</span>
        </div>
    </div>

    <span class="add_post icon-plus" (click)="openNewRoomModal()"></span>

</div>







<!--<div class="container-rooms rooms sticky">-->
    <!--<div class="row row-flex row-flex-wrap">-->


        <!--<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">-->
            <!--<div class="rooms__block rooms__block-add">-->
                <!--<div class="rooms__img rooms__img-add">-->
                    <!--<div class="rooms__add">-->
                        <!--<div class="rooms__addblock1">-->
                            <!--<button></button>-->
                        <!--</div>-->
                        <!--<div class="rooms__addblock2">-->
                            <!--<ul class="">-->
                                <!--<li class=""><span class="circle"></span><span class="progr progr-1"></span></li>-->
                                <!--<li class=""><span class="circle"></span><span class="progr progr-2"></span></li>-->
                            <!--</ul>-->
                            <!--<div class="rooms__addbuttos">-->
                                <!--<div class="buttons">-->
                                    <!--<span class="buttons__circle"></span>-->
                                    <!--<span class="buttons__circle"></span>-->
                                    <!--<span class="buttons__circle"></span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="rooms__about rooms__about-add">-->
                    <!--<button class="rooms__addbutbig" (click)="openNewRoomModal()">Add Room</button>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->


        <!--<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let room of allRooms; let i = index"-->
             <!--[routerLink]="['/room', room.room.room_id]">-->
            <!--<div class="rooms__block" [ngStyle]="{'background-color': room.room.color}">-->
                <!--<div class="rooms__img">-->
                    <!--<img [src]="room.room.thumbnail" alt="" *ngIf="room.room.thumbnail">-->
                <!--</div>-->
                <!--<div class="rooms__about">-->
                    <!--<h3 class="rooms__name rooms__name-pos">{{room.room.room_name}}</h3>-->
                    <!--<ul class="rooms__info rooms__info-pos">-->
                        <!--<li>-->
                            <!--<span class="icons eye"></span>-->
                            <!--<span class="numbers">{{room.room.num_visits}}</span>-->
                            <!--<span class="desc">visits</span>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<span class="icons members"></span>-->
                            <!--<span class="numbers">{{room.room.members_count}}</span>-->
                            <!--<span class="desc">members</span>-->
                        <!--</li>-->
                    <!--</ul>-->
                    <!--<div class="rooms__menu">-->
                        <!--<div class="menu-button">-->
                            <!--<span class="menu-circle"></span>-->
                            <!--<span class="menu-circle"></span>-->
                            <!--<span class="menu-circle"></span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="clearfix visible-sm"></div>-->


    <!--</div>-->
<!--</div>-->