<div class="room_tags" >
    <div class="tags_container">
         <span class="room_tag" *ngFor="let tag of roomTags" [ngClass]="{'tags__active': tag.wall_id === wallId}"
               (click)="goToAnotherWall(tag, tag.wall_id !== wallId)">{{tag.wall_name}}</span>
    </div>

</div>


<div class="main_container" appIeHeight>



    <div class="posts" *ngFor="let post of allPosts; let i = index">
        <div class="post_info">
                 <span class="user_info">
                    <span class="avatar" [ngStyle]="{'background-image':'url(' + post.owner.thumbnail + ')' }"></span>
                    <span class="name">{{post.owner.user_name}}</span>
                </span>
            <span class="date">{{post.created_at * 1000 | date: 'dd MMM y'}}</span>
        </div>
        <i class="line"></i>
        <div class="post_body">
            <p class="post_text" *ngIf="post.text.length">{{post.text}}</p>
            <p class="post_text" *ngIf="post.poll">{{post.poll.question}}</p>


            <div class="post_images_wrapp " *ngIf="post.media.length"
                 [ngClass]="{'post_with_3_picture': post.media.length == 3, 'post_with_2_picture': post.media.length == 2, 'post_with_1_picture': post.media.length == 1}">

                <div class="post_images" *ngFor="let img of post.media"
                     [ngStyle]="{'background-image': 'url(' + img.thumbnail + ')'}"></div>
            </div>

            <div class="no_voted_view" *ngIf="post.poll && !post.poll.voted">
                <span class="vote_items" (click)="voteForPost('1', post)">{{post.poll.choice1}}</span>
                <span class="vote_items" (click)="voteForPost('2', post)">{{post.poll.choice2}}</span>
                <span class="vote_items" (click)="voteForPost('3', post)" *ngIf="post.poll.choice3">{{post.poll.choice3}}</span>
                <span class="vote_items"  (click)="voteForPost('4', post)" *ngIf="post.poll.choice4">{{post.poll.choice4}}</span>
            </div>

            <div class="vote_info_wrapp"  *ngIf="post.poll">
                <span class="icon-square-check">{{post.poll.choice1total + post.poll.choice2total + post.poll.choice3total + post.poll.choice4total}} votes</span>
                <span class="icon-calendar">{{post.poll.time_left*1000 | date:'d'}} days left</span>
            </div>


        </div>

        <div class="post_footer">
            <div class="icons_wrapper">
                <span class="icon-heart-o" [ngClass]="{'icon-heart': post.liked_by_user}"
                      (click)="likeAndUnlikePost(post.post_id, post.liked_by_user, post)">{{post.likes_count}}</span>
                <span class="icon-bubble">{{post.comments_count}}</span>
            </div>
            <div class="drop_down_container">
                <div class="dots_wrapp">
                    <i class="dots"></i>
                    <i class="dots"></i>
                    <i class="dots"></i>
                </div>
                    <ul class="drop_down_menu" (mouseleave)="onMouseLeave( post)">
                        <li class="drop_down_item drop_down_title">
                            Post menu
                        </li>
                        <!--all done-->
                        <li class="drop_down_item"
                            (click)="postOwnerInterraction('mute', post.owner.user_id, i)"
                            *ngIf="currentUserData.user_data.user_id !== post.owner.user_id">
                            <span class="drop_down_fill icon-mute">Mute User</span>
                        </li>
                        <!--all done-->
                        <li class="drop_down_item"
                            (click)="postOwnerInterraction('block', post.owner.user_id, i)"
                            *ngIf="currentUserData.user_data.user_id !== post.owner.user_id">

                            <span class="drop_down_fill icon-eye-blocked">Block User</span>
                        </li>

                        <!--all done-->
                        <li class="drop_down_item" (click)="postInterraction('edite',  post, i)"
                            *ngIf="currentUserData.user_data.user_id === post.owner.user_id">

                            <span class="drop_down_fill icon-pencil">Edit Post</span>
                        </li>
                        <!--all done-->
                        <li class="drop_down_item comm_block_with_select"
                            *ngIf="currentUserData.user_data.user_id !== post.owner.user_id && userArmin">
                            <span class="drop_down_fill icon-ban" (click)="postInterraction('ban', post)">Ban User</span>


                            <select name="ban_days" class="ban-days" [(ngModel)]="banDays"
                                    *ngIf="post.bunned"
                                    (change)="postInterraction('do_ban', post, i, banDays)">
                                <option value="0" selected disabled>Days for ban</option>
                                <option value="3">3 days</option>
                                <option value="7">7 days</option>
                                <option value="14">14 days</option>
                                <option value="30">30 days</option>
                                <option value="60">60 days</option>
                                <option value="3000">3000 days</option>
                            </select>
                        </li>
                        <!--all done-->
                        <li class="drop_down_item comm_block_with_select" *ngIf="userArmin">
                            <div class="comm__icon-pos list_item_with_select"
                                 (click)="postInterraction('move', post)">
                                <span class="drop_down_fill icon-move-right">Move Post</span>

                            </div>
                            <select name="move_to" class="ban-days" [(ngModel)]="wallsIds"
                                    *ngIf="post.movedTo"
                                    (change)="postInterraction('do_move', post, i, wallsIds)">
                                <option *ngFor="let wall of roomTags" [ngValue]="wall.wall_id">
                                    {{wall.wall_name}}
                                </option>
                            </select>
                        </li>
                        <!--all done-->
                        <li class="drop_down_item" (click)="postInterraction('remove', post, i)"
                            *ngIf="currentUserData.user_data.user_id === post.owner.user_id || userArmin">

                            <span class="drop_down_fill icon-cancel">{{currentUserData.user_data.user_id === post.owner.user_id ? 'Delete Post' : 'Remove Post'}}</span>
                        </li>
                        <!--all done-->
                        <li class="drop_down_item" (click)="postInterraction('inappropriate', post)"
                            *ngIf="currentUserData.user_data.user_id !== post.owner.user_id && !userArmin">

                            <span class="drop_down_fill icon-flag">Flag inappropriate </span>
                        </li>
                    </ul>
            </div>

        </div>
    </div>

    <span class="add_post icon-plus" (click)="openNewPostModal()"></span>

</div>








<!--<div class="tags__wall">-->
    <!--<div class="tags-container">-->
        <!--<div class="tags tags-mb">-->
            <!--<span *ngFor="let tag of roomTags" [ngClass]="{'tags__active': tag.wall_id === wallId}"-->
                  <!--(click)="goToAnotherWall(tag, tag.wall_id !== wallId)">{{tag.wall_name}}</span>-->
        <!--</div>-->
        <!--<div class="tags__search tags__search-pos visible-lg"><span class="icon"></span></div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="container-plus sticky">-->
    <!--<div class="wall__plus wall__plus-pos" (click)="openNewPostModal()">-->
        <!--<span class="wall__plus-icon"></span>-->
    <!--</div>-->
    <!--<div class="container-rooms wall wall-pt">-->
        <!--<div class="row">-->


            <!--<div class="col-lg-4 col-md-6 col-xs-12" *ngFor="let post of allPosts; let i = index">-->
                <!--<div class="wall__block">-->
                    <!--<div class="wall__user header__user">-->
                        <!--<div class="user__wrap">-->
                            <!--<div class=" wall__avatar wall__avatar-pos">-->
                                <!--<img [src]="post.owner.thumbnail" alt="">-->
                            <!--</div>-->
                            <!--<span class="user__name  ">{{post.owner.user_name}}</span>-->
                        <!--</div>-->

                    <!--</div>-->
                    <!--<span class="wall__date wall__date-pos">{{post.created_at * 1000 | date: 'dd MMM y'}}</span>-->
                    <!--<div class="wall__container">-->

                        <!--<div class="wall__content wall__content-pb" *ngIf="!post.poll">-->
                            <!--<p class="wall__text">{{post.text}}</p>-->

                            <!--<div class="wall__img " *ngIf="post.media.length"-->
                                 <!--[ngClass]="{'post_with_3_picture': post.media.length == 3, 'post_with_2_picture': post.media.length == 2, 'post_with_1_picture': post.media.length == 1}">-->
                                <!--<div class="post_images" *ngFor="let img of post.media"-->
                                     <!--[ngStyle]="{'background-image': 'url(' + img.thumbnail + ')'}"></div>-->
                            <!--</div>-->
                        <!--</div>-->


                        <!--<div class="wall__content " *ngIf="post.poll">-->
                            <!--<p class="wall__text">{{post.text}}</p>-->
                            <!--<div class="question wall__question">-->
                                <!--<div class="question__block">-->
                                    <!--<span class="question__quest question__quest-pos">-->
                                        <!--{{post.poll.question}}-->
                                    <!--</span>-->
                                    <!--&lt;!&ndash;<div class="wall__imgrow wall__imgrow-up">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<div class="wall__img wall__img-wide">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<img src="img/wall/wall-img-wide-2.jpg" alt="">&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--<ul class="list-unstyled question__poll question__poll-pos no_voted"-->
                                        <!--*ngIf="!post.poll.voted">-->
                                        <!--<li class="question__item question__item-pos" (click)="voteForPost('1', post)">-->
                                            <!--<span class="question__choice">{{post.poll.choice1}}</span>-->
                                        <!--</li>-->
                                        <!--<li class="question__item question__item-pos" (click)="voteForPost('2', post)">-->
                                            <!--<span class="question__choice">{{post.poll.choice2}}</span>-->
                                        <!--</li>-->
                                        <!--<li class="question__item question__item-pos" *ngIf="post.poll.choice3"-->
                                            <!--(click)="voteForPost('3', post)">-->
                                            <!--<span class="question__choice">{{post.poll.choice3}}</span>-->
                                        <!--</li>-->
                                        <!--<li class="question__item question__item-pos" *ngIf="post.poll.choice4"-->
                                            <!--(click)="voteForPost('4', post)">-->
                                            <!--<span class="question__choice">{{post.poll.choice4}}</span>-->
                                        <!--</li>-->
                                    <!--</ul>-->


                                    <!--<ul class="list-unstyled question__poll question__poll-pos" *ngIf="post.poll.voted">-->
                                        <!--<li class="question__item question__item-pos">-->
                                            <!--<ngb-progressbar [value]="post.poll.choice1total"></ngb-progressbar>-->
                                            <!--<span class="question__choice">{{post.poll.choice1}}</span>-->
                                            <!--<span class="question__perc question__perc-pos">{{post.poll.choice1total}}%</span>-->

                                        <!--</li>-->
                                        <!--<li class="question__item question__item-pos">-->
                                            <!--<ngb-progressbar [value]="post.poll.choice2total"></ngb-progressbar>-->
                                            <!--<span class="question__choice">{{post.poll.choice2}}</span>-->
                                            <!--<span class="question__perc question__perc-pos">{{post.poll.choice2total}}%</span>-->
                                        <!--</li>-->

                                        <!--<li class="question__item question__item-pos" *ngIf="post.poll.choice3">-->
                                            <!--<ngb-progressbar [value]="post.poll.choice3total"></ngb-progressbar>-->
                                            <!--<span class="question__choice">{{post.poll.choice3}}</span>-->
                                            <!--<span class="question__perc question__perc-pos">{{post.poll.choice3total}}%</span>-->
                                        <!--</li>-->
                                        <!--<li class="question__item question__item-pos" *ngIf="post.poll.choice4">-->
                                            <!--<ngb-progressbar [value]="post.poll.choice4total"></ngb-progressbar>-->
                                            <!--<span class="question__choice">{{post.poll.choice4}}</span>-->
                                            <!--<span class="question__perc question__perc-pos">{{post.poll.choice4total}}%</span>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                    <!--<div class="question__info">-->
                                        <!--<div class="question__votes">-->
                                            <!--<span class="icon icon-votes"></span>-->
                                            <!--<span class="question__infotext">{{post.poll.choice1total + post.poll.choice2total + post.poll.choice3total + post.poll.choice4total}} votes</span>-->
                                        <!--</div>-->
                                        <!--<div class="question__days">-->
                                            <!--<span class="icon icon-days"></span>-->
                                            <!--<span class="question__infotext">{{post.poll.time_left*1000 | date:'d'}} days left</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->


                        <!--<div class="wall__info">-->
                            <!--<div class="wall__soc">-->
                                <!--<div class="wall__like"><span class="icon icon-like-empty"-->
                                                              <!--[ngClass]="{'icon-like': post.liked_by_user}"-->
                                                              <!--(click)="likeAndUnlikePost(post.post_id, post.liked_by_user, post)"></span><span-->
                                        <!--class="number">{{post.likes_count}}</span>-->
                                <!--</div>-->
                                <!--<div class="wall__comm"><span class="icon icon-comm"></span><span-->
                                        <!--class="number">{{post.comments_count}}</span>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="wall__menu">-->
                                <!--<span></span>-->
                                <!--<span></span>-->
                                <!--<span></span>-->

                                <!--<div class="notif notif-comm messag" *ngIf="membership.member">-->
                                    <!--<div class="messag__head comm__head">-->
                                        <!--<span class="messag__title">Post menu</span>-->
                                    <!--</div>-->
                                    <!--<ul class="messag__wrap comm__wrap" (mouseleave)="onMouseLeave( post)">-->
                                        <!--&lt;!&ndash;all done&ndash;&gt;-->
                                        <!--<li class="drop_down_item"-->
                                            <!--(click)="postOwnerInterraction('mute', post.owner.user_id, i)"-->
                                            <!--*ngIf="currentUserData.user_data.user_id !== post.owner.user_id">-->
                                            <!--<div class="comm__icon-pos">-->
                                                <!--<span class="comm__icon comm__icon-mute"></span>-->
                                            <!--</div>-->
                                            <!--<span class="comm__text">Mute User</span>-->
                                        <!--</li>-->
                                        <!--&lt;!&ndash;all done&ndash;&gt;-->
                                        <!--<li class="comm__block"-->
                                            <!--(click)="postOwnerInterraction('block', post.owner.user_id, i)"-->
                                            <!--*ngIf="currentUserData.user_data.user_id !== post.owner.user_id">-->
                                            <!--<div class="comm__icon-pos">-->
                                                <!--<span class="comm__icon comm__icon-block"></span>-->
                                            <!--</div>-->
                                            <!--<span class="comm__text">Block User</span>-->
                                        <!--</li>-->

                                        <!--&lt;!&ndash;all done&ndash;&gt;-->
                                        <!--<li class="comm__block" (click)="postInterraction('edite',  post, i)"-->
                                            <!--*ngIf="currentUserData.user_data.user_id === post.owner.user_id">-->
                                            <!--<div class="comm__icon-pos">-->
                                                <!--<span class="comm__icon comm__icon-edite"></span>-->
                                            <!--</div>-->
                                            <!--<span class="comm__text">Edit Post</span>-->
                                        <!--</li>-->
                                        <!--&lt;!&ndash;all done&ndash;&gt;-->
                                        <!--<li class="comm__block comm_block_with_select"-->
                                            <!--*ngIf="currentUserData.user_data.user_id !== post.owner.user_id && userArmin">-->
                                            <!--<div class="comm__icon-pos list_item_with_select"-->
                                                 <!--(click)="postInterraction('ban', post)">-->
                                                <!--<span class="comm__icon comm__icon-delete"></span>-->
                                                <!--<span class="comm__text">Ban User</span>-->
                                            <!--</div>-->

                                            <!--<select name="ban_days" class="ban-days" [(ngModel)]="banDays"-->
                                                    <!--*ngIf="post.bunned"-->
                                                    <!--(change)="postInterraction('do_ban', post, i, banDays)">-->
                                                <!--<option value="0" selected disabled>Days for ban</option>-->
                                                <!--<option value="3">3 days</option>-->
                                                <!--<option value="7">7 days</option>-->
                                                <!--<option value="14">14 days</option>-->
                                                <!--<option value="30">30 days</option>-->
                                                <!--<option value="60">60 days</option>-->
                                                <!--<option value="3000">3000 days</option>-->
                                            <!--</select>-->
                                        <!--</li>-->
                                        <!--&lt;!&ndash;all done&ndash;&gt;-->
                                        <!--<li class="comm__block comm_block_with_select" *ngIf="userArmin">-->
                                            <!--<div class="comm__icon-pos list_item_with_select"-->
                                                 <!--(click)="postInterraction('move', post)">-->
                                                <!--<span class="comm__icon comm__icon-delete"></span>-->
                                                <!--<span class="comm__text">Move Post</span>-->
                                            <!--</div>-->
                                            <!--<span>{{wallsIds}}</span>-->
                                            <!--<select name="move_to" class="ban-days" [(ngModel)]="wallsIds"-->
                                                    <!--*ngIf="post.movedTo"-->
                                                    <!--(change)="postInterraction('do_move', post, i, wallsIds)">-->
                                                <!--<option *ngFor="let wall of roomTags" [ngValue]="wall.wall_id">-->
                                                    <!--{{wall.wall_name}}-->
                                                <!--</option>-->
                                            <!--</select>-->
                                        <!--</li>-->
                                        <!--&lt;!&ndash;all done&ndash;&gt;-->
                                        <!--<li class="comm__block" (click)="postInterraction('remove', post, i)"-->
                                            <!--*ngIf="currentUserData.user_data.user_id === post.owner.user_id || userArmin">-->
                                            <!--<div class="comm__icon-pos">-->
                                                <!--<span class="comm__icon comm__icon-delete"></span>-->
                                            <!--</div>-->
                                            <!--<span class="comm__text">{{currentUserData.user_data.user_id === post.owner.user_id ? 'Delete Post' : 'Remove Post'}}</span>-->
                                        <!--</li>-->
                                        <!--&lt;!&ndash;all done&ndash;&gt;-->
                                        <!--<li class="comm__block" (click)="postInterraction('inappropriate', post)"-->
                                            <!--*ngIf="currentUserData.user_data.user_id !== post.owner.user_id && !userArmin">-->
                                            <!--<div class="comm__icon-pos">-->
                                                <!--<span class="comm__icon comm__icon-delete"></span>-->
                                            <!--</div>-->
                                            <!--<span class="comm__text">Flag inappropriate </span>-->
                                        <!--</li>-->
                                    <!--</ul>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="clearfix visible-sm visible-md"></div>-->

        <!--</div>-->
    <!--</div>-->
<!--</div>-->