<div class="name_and_menu" *ngIf="wallsArray">
    <div class="string_wrapp">
        <div class="left_position">

            <label for="show_hide_filter" class="icon-filter"></label>
            <input type="checkbox" id="show_hide_filter" [(ngModel)]="show_hide_toggle" hidden>
            <div class="filter_wrapp">


                <select class="filter_switcher"  [(ngModel)]="filter_switcher" (change)="doFilteringResults(filter_switcher)">
                    <option value="show_all">Show all posts</option>
                    <option value="faves">My faves users</option>
                    <option value="search_term">Search by text</option>
                    <option value="user_name_post">Search by username</option>
                </select>
                <div class="search_wrapp" *ngIf="filter_switcher === 'search_term' || filter_switcher === 'user_name_post'">
                    <input type="text" class="posts_search" [(ngModel)]="posts_search">
                    <i class="icon-search" (click)="doSearch(posts_search)"></i>
                </div>
            </div>
        </div>

        <ul class="posts_menu" >
            <li class="posts_menu_items icon-gear" *ngIf="wallsArray.membership.member && wallsArray.is_admin" [routerLink]="'/room-settings'">Room Settings</li>
            <li class="posts_menu_items icon-question">About Room</li>
            <li class="posts_menu_items icon-room-in" *ngIf="!wallsArray.membership.member" (click)="interractWithUser('join')">Join Room</li>
            <li class="posts_menu_items icon-room-out" *ngIf="wallsArray.membership.member" (click)="interractWithUser('leave')">Leave Room</li>
        </ul>
    </div>

    <span class="room_name">{{wallsArray.room_details.room_name}}</span>
</div>



<div class="room_tags" >
    <div class="tags_container">
         <span class="room_tag" *ngFor="let tag of roomTags" [ngClass]="{'tags__active': tag.wall_id === wallId}"
               (click)="goToAnotherWall(tag, tag.wall_id !== wallId)">{{tag.wall_name}}</span>
    </div>

</div>


<div class="main_container" appIeHeight appScroolEnd (scrollRichTheEnd)="onScrollRichTheEnd($event)">

    <div class="posts" *ngFor="let post of allPosts; let i = index" [ngClass]="{'with_opened_menu': post.menuOpened}" >
        <div class="post_info">
                 <span class="user_info" [routerLink]="['/about-user', post.owner.user_id*22]">
                    <span class="avatar" [ngStyle]="{'background-image':'url(' + post.owner.thumbnail + ')' }"></span>
                    <span class="name">{{post.owner.user_name}}</span>
                </span>
            <span class="date">{{post.created_at * 1000 | date: 'dd MMM y'}}</span>
        </div>
        <i class="line"></i>
        <div class="post_body"     (click)="openPostDetailsModal(post)">
            <p class="post_text" *ngIf="post.text.length">{{post.text}}</p>

            <div class="post_images_wrapp " *ngIf="post.media.length"
                 [ngClass]="{'post_with_3_picture': post.media.length == 3, 'post_with_2_picture': post.media.length == 2, 'post_with_1_picture': post.media.length == 1}">

                <div class="post_images" *ngFor="let img of post.media"
                     [ngStyle]="{'background-image': 'url(' + img.thumbnail + ')'}"></div>
            </div>
            <div class="post_images_wrapp post_with_1_picture" *ngIf="post.poll">
                <div class="post_images poll_thumbnail"></div>
            </div>

            <div class="vote_info_wrapp"  *ngIf="post.poll">
                <span class="icon-square-check">{{post.poll.choice1total + post.poll.choice2total + post.poll.choice3total + post.poll.choice4total}} votes</span>
                <span class="icon-calendar">{{daysLeftConvert(post)}}</span>
            </div>


        </div>

        <div class="post_footer">
            <div class="icons_wrapper">
                <span class="icon-heart-o" [ngClass]="{'icon-heart': post.liked_by_user}"
                      (click)="likeAndUnlikePost(post.post_id, post.liked_by_user, post)">{{post.likes_count}}</span>
                <span class="icon-bubble">{{post.comments_count}}</span>
            </div>
        </div>


        <ul class="drop_down_menu" (mouseleave)="onMouseLeave( post)" >
            <!--all done-->
            <li class="drop_down_item"
                (click)="postOwnerInterraction('mute', post.owner.user_id)"
                *ngIf="currentUserData.user_data.user_id !== post.owner.user_id">
                <span class="drop_down_fill icon-mute">Mute User</span>
            </li>
            <!--all done-->
            <li class="drop_down_item"
                (click)="postOwnerInterraction('block', post.owner.user_id)"
                *ngIf="currentUserData.user_data.user_id !== post.owner.user_id">

                <span class="drop_down_fill icon-eye-blocked">Block User</span>
            </li>

            <!--all done-->
            <li class="drop_down_item" (click)="postInterraction('edite',  post, i)"
                *ngIf="currentUserData.user_data.user_id === post.owner.user_id">

                <span class="drop_down_fill icon-pencil">Edit Post</span>
            </li>
            <!--all done-->
            <li class="drop_down_item comm_block_with_select"
                *ngIf="currentUserData.user_data.user_id !== post.owner.user_id && userArmin">
                <span class="drop_down_fill icon-ban" (click)="postInterraction('ban', post)">Ban User</span>


                <select name="ban_days" class="ban-days" [(ngModel)]="banDays"
                        *ngIf="post.bunned"
                        (change)="postInterraction('do_ban', post, i, banDays)">
                    <option value="0" selected disabled>Days for ban</option>
                    <option value="3">3 days</option>
                    <option value="7">7 days</option>
                    <option value="14">14 days</option>
                    <option value="30">30 days</option>
                    <option value="60">60 days</option>
                    <option value="3000">3000 days</option>
                </select>
            </li>
            <!--all done-->
            <li class="drop_down_item comm_block_with_select" *ngIf="userArmin">
                <div class="comm__icon-pos list_item_with_select"
                     (click)="postInterraction('move', post)">
                    <span class="drop_down_fill icon-move-right">Move Post</span>

                </div>
                <select name="move_to" class="ban-days" [(ngModel)]="wallsIds"
                        *ngIf="post.movedTo"
                        (change)="postInterraction('do_move', post, i, wallsIds)">
                    <option *ngFor="let wall of roomTags" [ngValue]="wall.wall_id">
                        {{wall.wall_name}}
                    </option>
                </select>
            </li>
            <!--all done-->
            <li class="drop_down_item" (click)="postInterraction('remove', post, i)"
                *ngIf="currentUserData.user_data.user_id === post.owner.user_id || userArmin">

                <span class="drop_down_fill icon-cancel">{{currentUserData.user_data.user_id === post.owner.user_id ? 'Delete Post' : 'Remove Post'}}</span>
            </li>
            <!--all done-->
            <li class="drop_down_item" (click)="postInterraction('inappropriate', post)"
                *ngIf="currentUserData.user_data.user_id !== post.owner.user_id && !userArmin">

                <span class="drop_down_fill icon-flag">Flag inappropriate </span>
            </li>
            <li class="for_dots">
                <div class="dots_wrapp" (click)="post.menuOpened = !post.menuOpened">
                    <i class="dots"></i>
                    <i class="dots"></i>
                    <i class="dots"></i>
                </div>
            </li>
        </ul>

    </div>

    <span class="add_post icon-plus" (click)="openNewPostModal()" *ngIf="membership && currentWall"
          [ngClass]="{'disabled': !currentWall.allow_post_flag && !membership.moderator && !membership.supermoderator && !membership.admin && !membership.talker || !membership.member || membership.banned}"></span>


    <span class="loading" *ngIf="show_loading">Loading, please wait ...</span>
</div>

