<div class="modal_wrapper" >
  <span class="icon-cancel" (click)="activeModal.dismiss()"></span>
  <div class="slider_container" *ngIf="post.media.length">
      <app-slider [contentArray]="post.media"></app-slider>

  </div>
  <div class="post_content">
      <div class="scrollable_part" [perfect-scrollbar]="config" >
          <div class="post_info">
                 <span class="user_info">
                    <span class="avatar" [ngStyle]="{'background-image':'url(' + post.owner.thumbnail + ')' }"></span>
                    <span class="name">{{post.owner.user_name}}</span>
                </span>
              <span class="date">{{post.created_at * 1000 | date: 'dd MMM y'}}</span>
          </div>
          <div class="post_body" >
              <p class="post_text">{{post.text}}</p>


          </div>
          <div class="post_footer">
              <div class="icons_wrapper">
                  <span class="icon-heart-o" [ngClass]="{'icon-heart': post.liked_by_user}" (click)="likeAndUnlikePost(post.post_id, post.liked_by_user)">{{post.likes_count}}</span>
                  <span class="icon-bubble">{{post.comments_count}}</span>
              </div>

              <select  class="sort_select" [(ngModel)]="comments_sort_type" (change)="getComments()">
                  <option value="date_newer">New to old</option>
                  <option value="date_older">Old to new</option>
                  <option value="top">Most liked</option>
              </select>

          </div>


          <div class="comments" *ngFor="let comment of comments">
              <div class="post_info">
                  <span class="user_info">
                    <span class="avatar" [ngStyle]="{'background-image':'url(' + comment.owner.thumbnail + ')' }" ></span>
                    <span class="name">{{comment.owner.user_name}}</span>
                </span>
                  <span class="date">{{ comment.created_at * 1000 | timeAgo }}</span>
              </div>
              <div class="comment_body">
                  <p class="comment_text">{{comment.text}}</p>
                  <a [href]="comment.media.multimedia" target="_blank" class="picture" *ngIf="comment.has_media_flag" [ngStyle]="{'background-image':'url(' + comment.media.thumbnail + ')' }"></a>
              </div>
          </div>


      </div>




      <form class="new_comment_wrapp" #commentForm="ngForm" (submit)="createNewComment(commentForm)">
          <input type="text" class="text_field" name="text" [(ngModel)]="textField" placeholder="Enter your comment...">
          <input type="file" id="comment_file" name="files" (change)="fileDropped($event)" hidden>
          <div class="add_button_wrapp" [ngClass]="{'with_spinner': inProcess}">
              <label for="comment_file" class="add_button icon-clip"></label>
          </div>
          <button type="submit" class="send_button icon-plane"></button>
      </form>



  </div>


</div>
