<form action="#" class="modal_wrapper" #changePasswordForm="ngForm" (submit)="changePassword(changePasswordForm, $event)">
     <span class="input_wrapp ">
        {{'CHANGE_PASSWORD.CHANGE_PASS' | translate}}:
        <input type="password" dir="auto"  class="input_field" #old_pass placeholder="{{'CHANGE_PASSWORD.OLD_PASSWORD' | translate}}" name="old_password" required [(ngModel)]="old_pass_vall">
        <input type="password" dir="auto" class="input_field with_margin" #new_pass placeholder="{{'CHANGE_PASSWORD.NEW_PASSWORD' | translate}}"
               name="new_password" minlength="4" maxlength="21" required [(ngModel)]="new_pass_vall" (input)="changeState(new_pass_vall)">
       <span class="mistake">{{mistake}}</span>
    </span>

  <button type="submit" class="form_button" [disabled]="changePasswordForm.invalid" [disabled]="buttonDisabled">{{'COMMON.SAVE' | translate}}</button>

</form>