<form action="#" class="form_wrapper" #editProfileForm="ngForm" (submit)="editUserProfile(editProfileForm, $event)">

  <div class="image_cropper_wrapp">
    <img-cropper #cropper [image]="added_image" [settings]="cropperSettings"></img-cropper>
    <img [src]="added_image.image" #previewImg class="image_preview"  *ngIf="added_image.image" >
    <input type="file" id="input_file" name="files" (change)="fileDropped($event)" hidden>
    <label for="input_file" class="room_thumbnail icon-image" [ngClass]="{'image_dropped': image_dropped}">
    </label>
  </div>



  <!--<div class="left_zone_wrapper" [ngStyle]="{'background-image': 'url(' + imagePreview + ')'}">-->
    <!--<label for="input_file" class="add_photo_button">Click to change photo</label>-->
    <!--<input type="file" id="input_file" name="files" (change)="fileDropped($event)" hidden>-->
  <!--</div>-->


    <div class="right_zone_wrapper">
      <span class="input_wrapp ">
        Username:
        <input type="text" class="input_field" placeholder="Enter your name" name="user_name" [ngModel]="userName"  minlength="3" maxlength="15" pattern="^[a-zA-Z][a-zA-Z0-9]*[._-]?[a-zA-Z0-9]+$" required>
        <span class="mistake">Wrong name format</span>
      </span>
      <span class="input_wrapp with_margin">
        Displayed Username:
        <input type="text" class="input_field" placeholder="Enter your nick name" name="display_name" [ngModel]="userDisplayedName"  minlength="0" maxlength="20">
        <span class="mistake">Wrong name format</span>
      </span>

      <div class="input_wrapp with_margin">
        About me:
        <textarea  class="input_field room_description" placeholder="Enter some info about yourself" [ngModel]="aboutUser" name="about" maxlength="250"></textarea>
      </div>

      <div class="input_wrapp with_margin">
        Receive messages from:
        <div class="toggle_wrapper">
          <span class="toggle_name">All users</span>
          <input type="checkbox" id="private" class="toggle_input" name="msg_from_anyone"  [(ngModel)]="messageFromAllUsers" checked hidden>
          <label for="private" class="toggle_field"></label>
        </div>
      </div>

      <button type="submit" class="form_button" [disabled]="editProfileForm.invalid || button_disabled">Save</button>

    </div>

</form>