
<div class="sign">
    <div class="sign__bg  visible-lg"></div>
    <div class="sign__block ">
        <div class="login sticky">
            <div class="login__container">
                <h2 class="login__welcome login__welcome-pos">Welcome to <span>TIFO!</span></h2>
                <p class="login__desc login__desc-pos">Sign up to meet photos and videos
                    from your friends.</p>
                <form action="" class="login__form" #regForm="ngForm" (ngSubmit)="sendRegistrationData(regForm)">
                    <label for="username" class="login__label">Username</label>
                    <div class="login__input-wrap">
                        <input id="username" type="text" class="login__input" name="user_name" #inputName [(ngModel)]="user_name" (input)="changeState('name', user_name)" minlength="3" maxlength="34" pattern="[a-zA-Z0-9-]+" required>
                        <span class="icon icon-username"></span>
                        <span class="mistake">{{userNameMistake}}</span>
                    </div>
                    <label for="email" class="login__label">Email</label>
                    <div class="login__input-wrap">
                        <input id="email" type="email" class="login__input" name="email" #inputEmail [(ngModel)]="email"  (input)="changeState('email', email)" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required>
                        <span class="icon icon-email"></span>
                        <span class="mistake">{{emailMistake}}</span>
                    </div>
                    <label for="password" class="login__label">Password</label>
                    <div class="login__input-wrap">
                        <input id="password" type="password" class="login__input"  name="password" #inputPassword [(ngModel)]="password" minlength="4" maxlength="21" required>
                        <span class="icon icon-pass"></span>
                        <span class="mistake">{{passwordMistake}}</span>
                    </div>
                    <button class="login__submit" [disabled]="regForm.invalid" [disabled]="buttonDisabled" type="submit">Sign up</button>
                </form>
                <span class="login__account">Have an account? <a href="" class="" [routerLink]="'/login'">Log in</a></span>
            </div>
        </div>
        <div class="footer footer-rooms sign-footer">
            <div class="sign__links">
                <a href="" class="sign__app sign__app-as"></a>
                <a href="" class="sign__app sign__app-gp"></a>
            </div>
            <ul class="footer__menu">
                <li class="footer__item"><a href="">ABOUT US</a></li>
                <li class="footer__item"><a href="">SUPPORT</a></li>
                <li class="footer__item"><a href="">PRIVACY</a></li>
                <li class="footer__item"><a href="">TERMS</a></li>
            </ul>
        </div>
    </div>
</div>