<div class="image"></div>
<div class="form_wrapper">
    <form action="#" class="form" #regForm="ngForm" (ngSubmit)="sendRegistrationData(regForm, $event)">
        <p class="title">{{'LOGIN_AND_REGISTER.WELCOME' | translate}}<span class="title_bold">{{'LOGIN_AND_REGISTER.TIFO' | translate}}!</span></p>
        <p class="subtitle">{{'LOGIN_AND_REGISTER.SIGN_UP_TO' | translate}}</p>
        <label class="input_wrapp icon-head">
            {{'LOGIN_AND_REGISTER.USER_NAME' | translate}}
            <input type="text" dir="auto" class="input_field"  name="user_name" #inputName [(ngModel)]="user_name" (input)="changeState('name', user_name)" minlength="3" maxlength="20" pattern="^[a-zA-Z][a-zA-Z0-9]*[._-]?[a-zA-Z0-9]+$" required>
            <span class="mistake">{{userNameMistake}}</span>

        </label>
        <label class="input_wrapp icon-mail">
            {{'LOGIN_AND_REGISTER.EMAIL' | translate}}
            <input type="email" dir="auto" class="input_field" name="email" #inputEmail [(ngModel)]="email"  (input)="changeState('email', email)" pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  required>
            <span class="mistake">{{emailMistake}}</span>
        </label>
        <label class="input_wrapp icon-lock">
            {{'LOGIN_AND_REGISTER.PASSWORD' | translate}}
            <input type="password" dir="auto" class="input_field" name="password" #inputPassword [(ngModel)]="password" (input)="changeState('password', password)" minlength="4" maxlength="21" required>
            <span class="mistake">{{passwordMistake}}</span>
        </label>
        <button type="submit" class="form_button" [ngClass]="{'disabled_button': regForm.invalid || buttonDisabled}" [disabled]="regForm.invalid" [disabled]="buttonDisabled">{{'LOGIN_AND_REGISTER.SIGN_UP' | translate}}</button>

        <p class="link_prew">{{'LOGIN_AND_REGISTER.HAVE_ACCOUNT' | translate}}?<span class="link_to" [routerLink]="'/login'">{{'LOGIN_AND_REGISTER.LOG_IN' | translate}}</span></p>
    </form>
    <div class="footer_wrapper">
        <div class="links_wrap">
            <a href="#" class="app_links apple"></a>
            <a href="#" class="app_links android"></a>
        </div>
        <footer class="form_footer">
            <span class="link" [routerLink]="'/about'">{{'COMMON.ABOUT_US' | translate}}</span>
            <span class="link" [routerLink]="'/support'">{{'COMMON.SUPPORT' | translate}}</span>
            <span class="link" [routerLink]="'/privacy'">{{'COMMON.PRIVACY' | translate}}</span>
            <span class="link" [routerLink]="'/term'">{{'COMMON.TERMS' | translate}}</span>
        </footer>
    </div>
</div>
