<div class="mod ">
  <div class="mod__container">
    <div class="mod__wrap newpost">
      <form action="">
        <div class="row">
          <div class="col-lg-6 col-xs-12">
            <div class="mod__block newpost__block">
              <h3 class="mod__title mod__title-pos">New Post</h3>
              <textarea class="" placeholder="Type here.." name="" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
          <div class="col-lg-6 col-xs-12">
            <div class="mod__block">
              <div class="mod__check-wrap">
                <div class="mod__check">
                  <div class="attach attach-active"><span class="att  attach-1"></span></div>
                  <div class="attach"><span class="poll attach-2"></span></div>
                </div>
              </div>
              <div class="newpost__down">
                <label for="newpost-file" class="newpost__label">
                  <span class="attach attach__pos"></span>
                  <span class="drag">Drag & Drop to Upload</span>
                  <span class="drag">or</span>
                  <span class="click-upl">Сlick to upload the file</span>
                </label>
                <input type="file" id="newpost-file">
              </div>
              <div class="newpost__images">
                <div class="newpost__img newpost__img-pos">
                  <img src="img/modal/cat-1.jpg" alt="">
                  <span class="img-close"></span>
                </div>
                <div class="newpost__img newpost__img-pos">
                  <img src="img/modal/cat-2.jpg" alt="">
                  <span class="img-close"></span>
                </div>
                <div class="newpost__img newpost__img-pos">
                  <img src="img/modal/cat-3.jpg" alt="">
                  <span class="img-close"></span>
                </div>
                <div class="newpost__img newpost__img-pos">
                  <img src="img/modal/cat-4.jpg" alt="">
                  <span class="img-close"></span>
                </div>
              </div>
            </div>

          </div>
        </div>
        <button class="mod__submit">Create a post</button>
      </form>
    </div>
  </div>
</div>