<div class="main_container">
    <input type="checkbox" id="users_list_view_toggler" checked hidden>
    <aside class="aside">
        <div class="label_wrapp">
            <label for="users_list_view_toggler" class="show_menu_label icon-menu"></label>
        </div>
        <div class="users_wrapper">
            <div class="user_bar"  *ngIf="virtual_user" [ngClass]="{'active':  virtual_user.user_id == dialog_user_id}" (click)="changeDialogUser(false, virtual_user)">
            <span class="avatar" [ngStyle]="{'background-image':'url(' + virtual_user.thumbnail + ')' }"
                  [routerLink]="['/about-user', virtual_user.user_id]"></span>

                <div class="user_name_and_date" >
                <span class="top_wrapp">
                    <span class="name">{{virtual_user.user_name}}</span>
                </span>
                    <p class="text">Send first message ...</p>
                </div>
            </div>

            <div class="user_bar" *ngFor="let user of all_users" [ngClass]="{'active':  user.user.user_id == dialog_user_id, 'new_message': user.new_flag}" (click)="changeDialogUser(true, user)">
                <span class="avatar" [ngStyle]="{'background-image':'url(' + user.user.thumbnail + ')' }" [routerLink]="['/about-user', user.user.user_id]"></span>

                <div class="user_name_and_date" >
                <span class="top_wrapp">
                    <span class="name">{{user.user.user_name}}</span>
                    <span class="date">{{user.updated_at * 1000 | timeAgo }}</span>
                </span>
                    <p class="text">{{user.text || 'M'}}</p>
                </div>
            </div>
        </div>

    </aside>
    <app-users-messages  [eventFromParent]="eventToChild" (firstMessageSent)="refreshUsersList()"></app-users-messages>
</div>