<div class="main_container">
    <input type="checkbox" id="users_list_view_toggler" [(ngModel)]="users_list_toggle" hidden>
    <aside class="aside">
        <div class="label_wrapp">
            <label for="users_list_view_toggler" class="show_menu_label" [ngClass]="{'icon-menu': !users_list_toggle, 'icon-double-left': users_list_toggle}"></label>
        </div>
        <div class="users_wrapper">
            <span class="no_conversations" *ngIf="!all_users.length && !virtual_user">No conversations yet</span>
            <div class="user_bar"  *ngIf="virtual_user" [ngClass]="{'active':  virtual_user.user_id == dialog_user_id}" (click)="changeDialogUser(false, virtual_user)">
            <span class="avatar" [ngStyle]="virtual_user.thumbnail && {'background-image':'url(' + virtual_user.thumbnail + ')' }"
                  [routerLink]="['/about-user', virtual_user.user_id*22]"></span>

                <div class="user_name_and_date" >
                <span class="top_wrapp">
                    <span class="name">{{virtual_user.user_name}}</span>
                </span>
                    <p class="text">Send first message ...</p>
                </div>
            </div>

            <div class="user_bar" *ngFor="let user of all_users" [ngClass]="{'active':  user.user.user_id == dialog_user_id, 'new_message': user.new_flag}" (click)="changeDialogUser(true, user)">
                <span class="avatar" [ngStyle]="user.user.thumbnail && {'background-image':'url(' + user.user.thumbnail + ')' }" [routerLink]="['/about-user', user.user.user_id*22]"></span>

                <div class="user_name_and_date" >
                <span class="top_wrapp">
                    <span class="name">{{user.user.user_name}}</span>
                    <span class="date">{{user.updated_at * 1000 | timeAgo }}</span>
                </span>
                    <p class="text" [innerHTML]="user.text | asteriscReplace: 'Media message ...'"></p>
                </div>
            </div>
        </div>

    </aside>
    <app-users-messages  [eventFromParent]="eventToChild" (firstMessageSent)="refreshUsersList()"></app-users-messages>
</div>