<div class="main_container">
    <aside class="aside">

        <div class="user_bar">
            <!--[ngStyle]="{'background-image':'url(' + comment.owner.thumbnail + ')' }"-->
            <span class="avatar" ></span>
            <!--[routerLink]="['/about-user', comment.owner.user_id]"-->
            <div class="user_name_and_date" >
                <span class="top_wrapp">
                    <span class="name">aefwef ergaer g</span>
                    <span class="date">2423 dfg</span>
                </span>
                <p class="text"> aerg eg eg aerbetb egeg rstb w4btsdbsd </p>
            </div>
        </div>
    </aside>
    <app-users-messages></app-users-messages>
</div>