<form action="#" class="modal_wrapper" #newWallForm="ngForm" (submit)="createNewWall(newWallForm, $event)">
     <span class="input_wrapp ">
        {{'COMMON.TITLE' | translate}}:
        <input type="text" dir="auto" class="input_field" placeholder="{{'ADD_WALL.WALL_NAME' | translate}}" name="wall_name" [(ngModel)]="wallName">
    </span>
    <div class="toggle_wrapper">
        <span class="toggle_name">{{'COMMON.ALLOW_MEMBERS' | translate}}</span>
        <input type="checkbox" id="allow_to_post" class="toggle_input" name="allow_post_flag" [(ngModel)]="postFlag" checked hidden>
        <label for="allow_to_post" class="toggle_field"></label>
    </div>
    <div class="toggle_wrapper with_margin">
        <span class="toggle_name">{{'COMMON.ALLOW_COMMENT' | translate}}</span>
        <input type="checkbox" id="allow_to_comment" class="toggle_input" name="allow_comment_flag" [(ngModel)]="commentFlag"
               checked hidden>
        <label for="allow_to_comment" class="toggle_field"></label>
    </div>

    <button type="submit" class="form_button">{{'COMMON.SAVE' | translate}}</button>

</form>