<!--<div class="radio_wrapp">-->
    <!--<input type="radio" name="member_type" [value]="'member'" id="member_types_1" [(ngModel)]="member_toggler" class="member_types_toggler" (change)="memberTypeChanged('member')" hidden>-->
    <!--<label for="member_types_1" class="radio icon-checkmark">Members</label>-->
    <!--<input type="radio" name="member_type" [value]="'requester'" id="member_types_2" [(ngModel)]="member_toggler" class="member_types_toggler" (change)="memberTypeChanged('requester')" hidden>-->
    <!--<label for="member_types_2" class="radio icon-checkmark">Requesters</label>-->
    <!--<input type="radio" name="member_type" [value]="'supermoderator'" id="member_types_3" [(ngModel)]="member_toggler" class="member_types_toggler" (change)="memberTypeChanged('supermoderator')" hidden>-->
    <!--<label for="member_types_3" class="radio icon-checkmark">Supermoderators</label>-->
    <!--<input type="radio" name="member_type" [value]="'moderator'" id="member_types_4" [(ngModel)]="member_toggler" class="member_types_toggler" (change)="memberTypeChanged('moderator')" hidden>-->
    <!--<label for="member_types_4" class="radio icon-checkmark">Moderators</label>-->
    <!--<input type="radio" name="member_type" [value]="'admin'" id="member_types_5" [(ngModel)]="member_toggler" class="member_types_toggler" (change)="memberTypeChanged('admin')" hidden>-->
    <!--<label for="member_types_5" class="radio icon-checkmark">Admins</label>-->
<!--</div>-->
<div class="radio_wrapp">
    <select name="member_type" class="select" [(ngModel)]="member_toggler" (change)="memberTypeChanged(member_toggler)">
        <option value="member">Members</option>
        <option value="requester">Requesters</option>
        <option value="supermoderator">Supermoderators</option>
        <option value="moderator">Moderators</option>
        <option value="talker">Talkers</option>
        <option value="admin">Admins</option>
    </select>
    <input type="text" class="user_search_field" placeholder="Tap user name..." [(ngModel)]="search_model" *ngIf="member_toggler === 'member'">
    <button class="add_button" type="button" *ngIf="member_toggler === 'requester' && membership.is_admin && users.length" (click)="forAllUsers('requester', 0)">Reject all</button>
    <button class="add_button" type="button" *ngIf="member_toggler === 'requester' && membership.is_admin && users.length" (click)="forAllUsers('member', 1)">Accept all</button>
</div>
<div class="members" *ngFor="let user of users | nameFilter: search_model; let i = index ">
    <span class="image" [ngStyle]="{'background-image':'url(' + user.user.thumbnail + ')' }"></span>
    <span class="user_name">{{user.user.user_name}}</span>
    <span class="close icon-cancel" *ngIf="showUserMembershipMenu() === 'cross' || showUserMembershipMenu() === 'check'" (click)="updateMembers(user, member_toggler, false, i)"></span>
    <span class="approve icon-circle-check" *ngIf="showUserMembershipMenu() === 'check'" (click)="updateMembers(user, member_toggler, true, i)"></span>
    <div class="dropdown_wrapp" *ngIf="showUserMembershipMenu() === 'menu'">
        <div class="drop_down_container">
            <div class="dots_wrapp">
                <i class="dots"></i>
                <i class="dots"></i>
                <i class="dots"></i>
            </div>
            <ul class="drop_down_menu" >
                <li class="drop_down_item drop_down_title">Menu</li>
                <li class="drop_down_item" (click)="updateMembers(user, 'talker', true, i)">Add as Talker</li>
                <li class="drop_down_item" (click)="updateMembers(user, 'moderator', true, i)">Add as Moderator</li>
                <li class="drop_down_item" (click)="updateMembers(user, 'supermoderator', true, i)">Add as Super Moderator</li>
                <li class="drop_down_item" (click)="updateMembers(user, 'member', false, i)">Revoke membership</li>
            </ul>
        </div>
    </div>

</div>
