<div class="main_container" >

    <div class="user_wrapp" *ngFor="let user of allUsers; let i = index">
     <span class="user_info" [routerLink]="['/about-user', user.user_id*22]">
       <span class="avatar" [ngStyle]="user.thumbnail && {'background-image':'url(' + user.thumbnail + ')' }"></span>
       <span class="name">{{user.user_name}}</span>
     </span>

        <span class="button icon-star-empty" [ngClass]="{'icon-star-full': user.is_fave}" (click)="faveUser(user)" *ngIf="user.user_id != currentUser.user_data.user_id"></span>
    </div>

    <span class="loading" *ngIf="show_loading">Loading, please wait ...</span>
</div>