html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

app-root{
    flex: auto;
    display: flex;
    flex-direction: column;
}

.modal-dialog{
    width: 100%;
    max-width: 800px!important;
}
.post_details_modal_hi_width{
    max-width: 1175px!important;
}
.post_details_modal_low_width{
    max-width: 600px!important;
}
.modal_low_width{
    max-width: 540px!important;
}

.progress{
    background: white;
    text-align: left;
}
.progress-bar{
    background: #c5e1e6;
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #343a40;
    border-radius: 5px;
}

@media screen and (max-width: 1000px){
    .post_details_modal_hi_width{
        max-width: 600px!important;
    }
}

@media screen and (max-width: 575px){
    .modal-dialog{
        margin: 10px auto 0;
    }
}