:host {
  flex: auto;
  width: 100%;
  background: $posts_background;
  color: $gray_text;
  @extend .flex-column;
}
.main_container{
  height: calc(100vh - 60px);
  overflow-y: auto;
  transition: 0.5s;
}
.user_info_wrapp{
  @extend .flex-default;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  background: white;
  margin-top: 35px;
}
.avatar_name_wrapp{
  @extend .flex-default;
  min-width: 280px;
  align-items: center;
}
.drop_down_container{
  margin: 10px auto 0;
}
.avatar_and_drop{
  @extend .flex-column;
  margin-right: 20px;
}
.drop_down_menu{
  top: 150%;
  left: -65px;
  width: 160px;
}
.avatar{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $gray_text;

  @extend .backgr-center;
  background-size: contain;
}
.name{
  @extend .flex-column;
  font-family: $font_bold;
  font-size: 20px;
  color: $blue;
}
.displayed_name{
  font-size: 18px;
  color: $gray_text;
  font-family: $font_regular;
}
.about_user{
  padding: 0 20px;
  color: $dark_text;
  flex: auto;
}
.buttons_wrapp{
  @extend .flex-column;
  justify-content: center;
}
.button{
  width: 45px;
  height: 45px;
  border-radius: 5px;
  color: white;
  @extend .flex-center;
  font-size: 20px;
  background: $blue;
  cursor: pointer;
  &:hover{
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  }
  &:active{
    box-shadow: none;
  }
  &:first-child{
    margin-bottom: 10px;
  }
  &:last-child{
    margin-top: 10px;
  }
}
.tags_wrapp{
  @extend .flex-center;
  margin: 30px auto 5px;
}
.tags{
  width: 165px;
  height: 35px;
  border-radius: 5px;
  background: white;
  @extend .flex-center;
  color: $gray_text;
  margin: 0 10px;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    color: white;
    background: $blue;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);

  }
  &:active{
    box-shadow: none;
  }
  span{
    padding: 0 5px;
  }
}
.active{
  background: $blue;
  color: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.disabled{
  background: $gray_text;
  pointer-events: initial;
}


@media screen and (max-width: 1000px){

  .main_container{
    height: calc(100vh - 117px);
    overflow-y: auto;
  }
  .user_info_wrapp{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .avatar_name_wrapp{
    min-width: inherit;
  }
  .about_user{
    order: 1;
    width: 100%;
    padding: 20px 0 0;
  }
  .tags_wrapp{
    flex-wrap: wrap;
  }
  .tags{
    width: 25%;
    margin: 0 12.5% 15px;
  }
}

@media screen and (max-width: 550px){
  .main_container{
    margin-top: 0;
    height: 100vh;
  }
  .user_info_wrapp{
    padding: 10px;
  }
  .avatar{
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .name{
    font-size: 16px;
  }
  .displayed_name{
    font-size: 13px;
  }
  .button{
    height: 30px;
    width: 30px;
  }
  .tags_wrapp{
    flex-direction: column;
  }
  .tags{
    width: 165px;
  }
}