:host{
  width: 100%;
  max-width: 800px;
}
.modal_wrapper{
  width: 100%;
  border-radius: 5px;
  background: white;
  padding: 30px;
  @extend .flex-column;
  align-items: center;
}

.form_button{
  border: none;
  background: $blue;
  color: white;
  font-family: $font_bold;
  text-align: center;
  padding: 10px 45px;
  border-radius: 27px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
  margin: 35px auto 0;
  cursor: pointer;
  display: block;
}

.input_wrapp{
  @extend .flex-column;
  color: $blue;
  font-weight: 600;
  width: 100%;
  max-width: 60%;
}
.input_field{
  border: 1px solid $gray_background;
  border-radius: 5px;
  padding: 7px 10px;
  width: 100%;
}
.toggle_wrapper {
  color: $dark_text;
  @extend .flex-between;
  align-items: center;
  width: 100%;
  max-width: 60%;
  margin-top: 15px;
}
  .with_margin{
    margin-top: 30px;
  }
.toggle_field{
  width: 50px;
  height: 25px;
  background: $gray_background;
  border-radius: 12px;
  @extend .flex-center;
  justify-content: flex-start;
  &:before{
    content: '';
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background: white;
    display: block;
    margin: 1px;
    transform: translate3d(0, 0, 0);
    transition: 0.3s;
  }
}
.toggle_input:checked + .toggle_field{
  background: $blue;
  &:before{
    transform: translate3d(25px, 0, 0);
  }
}

@media screen and (max-width: 600px){
  .input_wrapp{
    max-width: 100%;
  }
  .toggle_wrapper {
    max-width: 100%;
  }
}