:host {
  flex: auto;
  width: 100%;
  background: $posts_background;
  color: $gray_text;
  position: relative;
  margin-top: 60px;
}
  .main_container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .rooms{
    height: 410px;
    width: 100%;
    max-width: 255px;
    border-radius: 5px;
    margin: 0 10px 30px;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }
  .image{
    height: 255px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    @extend .backgr-center;
    background-color: transparent;
    background-size: cover;
  }
  .room_info{
    padding: 15px;
    color: white;
    @extend .flex-column;
    font-size: 14px;
  }
  .room_name{
    font-size: 20px;
    text-transform: uppercase;
  }
  .views,
  .members{
    margin-top: 18px;
    @extend .flex-center;
    justify-content: flex-start;
    &:before{
      color: $gray_text;
      margin-right: 8px;
      font-size: 16px;
    }
  }
.views{
  &:before{
    font-size: 20px;
}
}
  .line{
    padding: 0 15px;
    width: 100%;
    display: block;
    &:before{
      content: '';
      border-top: 1px solid white;
      display: block;
    }
  }
  .room_footer{
    height: 40px;
    @extend .flex-center;
  }
  .dots{
    border-color: white;
  }
  
  .new_room{
    background: white;
    @extend .flex-column;
    .image{
      height: 236px;
      width: 225px;
      margin: 15px;
      border-radius: 5px;

    }
    .room_info{
      flex: auto;
      @extend .flex-center;
    }
    .room_name{
      color: $blue;
      text-transform: uppercase;
    }
  }
.add_post{
  position: fixed;
  bottom: 30px;
  right: 100px;
  height: 66px;
  width: 66px;
  border-radius: 50%;
  background: $blue;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 30px;
  @extend .flex-center;
  cursor: pointer;
}

@media screen and (max-width: 875px){
  .main_container{
    justify-content: center;
  }
}


@media screen and (max-width: 768px){
:host{
  margin-top: 115px;
}
}

@media screen and (max-width: 550px){
  :host{
    margin-top: 143px;
  }

}