$light_gray: #f8f9fa;
$light_blue: #ecf6fb;
$orange: #ecb255;
$blue: #00a7cf ;
$red: #c4205b;
$red_dot: #fa5252;
$gray_text: #868e96;
$dark_text: #343a40;
$background: #fef9f2;
$posts_background: #f1f3f5;
$tags_active: #47a9d4;
$line: #f1f3f5;
$gray_background: #dee2e6;
$green: green;
$poll_background: #c5e1e6;
$border_menu: #e6ecf0;

$font_regular: Regular, sans-serif;
$font_medium: Medium, sans-serif;
$font_bold: Bold, sans-serif;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus{
    outline: none;
  }
}
.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}

.flex-around{
  display: flex;
  justify-content: space-around;
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.backgr-center{
  background: center center no-repeat;
}
.main_container{
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.disabled{
  background: $gray_text!important;
  pointer-events: none;
}



.user_info{
  @extend .flex-center;
  cursor: pointer;
  .avatar{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    @extend .backgr-center;
    background-color: $gray_text;
    margin-right: 10px;
    background-size: contain;
  }
  .name{
    color: $gray_text;
    font-family: $font_medium;
    font-size: 14px;
  }
}

.dots_wrapp{
  @extend .flex-center;
  padding: 5px 0;
  transition: 0.3s;
  .dots{
    background: transparent;
    height: 8px;
    width: 8px;
    border: 2px solid $gray_text;
    border-radius: 50%;
    display: block;
    margin-right: 5px;
    &:last-child{
      margin-right: 0;
    }
  }

}
.drop_down_container{
  position: relative;
  cursor: pointer;
  &:hover > .drop_down_menu{
    display: block;
  }
  &:hover  .dots{
    border-color: $blue;
  }
}
.drop_down_menu{
  position: absolute;
  top: 120%;
  left: -151px;
  width: 200px;
  background: white;
  display: none;
  border-radius: 5px;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.drop_down_item{
  position: relative;
  border-top: 1px solid $line;
  border-bottom: 1px solid $line;
  list-style: none;
  cursor: pointer;
  &:first-child{
    border-top: none;
    cursor: default;
  }
  &:last-child{
    border-bottom: none;
  }
  &:hover{

  }
}
.drop_down_title{
  padding: 12px;
  text-align: center;
  color: white;
  background: $blue;
  border-radius: 5px 5px 0 0;
  font-size: 20px;
  &:before{
    content: '';
    border-bottom: 10px solid $blue;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    left: 84%;
    transform: translateX(-50%);
  }
  &:after{
    content: '';
    height: 25px;
    width: 100%;
    background: transparent;
    position: absolute;
    top: -25px;
    left: 0;
  }
}
.drop_down_fill{
  padding: 10px;
  display: flex;
  align-items: center;
  color: $gray_text;
  transition: 0.3s;
  &:hover{
    color: white;
    background: $blue;
  }
  &:before{
    margin-right: 10px;
  }
}
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y{
  background: $blue;
}
.ps-container:hover>.ps-scrollbar-y-rail:hover>.ps-scrollbar-y{
  background: $blue;
}
.loading{
  padding: 30px;
  text-align: center;
  animation: blink 1.5s linear infinite;
  color: $dark_text;
  font-size: 15px;
  display: block;
  width: 100%;
}
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

@media screen and (max-width: 1190px){
  .main_container{
    padding: 0 15px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body{
    min-height: 100vh;
    height: 100%;
  }
}
