:host{
  width: 100%;
  max-width: 800px;
}
.modal_wrapper{
  width: 100%;
  border-radius: 5px;
  background: white;
  position: relative;
  padding: 30px;
}

.top_wrapper{
  @extend .flex-between;
  align-items: center;
}
.title{
  color: $blue;
  font-family: $font_bold;
  text-transform: capitalize;
  font-size: 20px;
}
.main_wrapper{
  display: flex;
  width: 100%;
  min-height: 350px;
  margin-top: 10px;
}
.room_thumbnail{
  flex: 1;
  margin-right: 15px;
  border-radius: 5px;
  background: $gray_background;
  @extend .flex-column;
  justify-content: center;
  align-items: center;
  @extend .backgr-center;
  background-size: cover;
}
.right_zone_wrapper{
  flex: 1;
  margin-left: 15px;
}


.form_button{
  border: none;
  background: $blue;
  color: white;
  font-family: $font_bold;
  text-align: center;
  padding: 10px 45px;
  border-radius: 27px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
  margin: 0 5px;
  cursor: pointer;
  display: block;
}

.input_wrapp{
  @extend .flex-column;
  color: $blue;
  font-weight: 600;
}
.with_margin{
  margin-top: 22px;
  .input_field{
    margin-top: 10px;
    &:first-child{
      margin-top: 0;
    }
  }
}
.text_field{
color: $gray_text;
  width: 100%;
}
.toggle_wrapper{
  color: $dark_text;
  @extend .flex-between;
  align-items: center;
  &:last-child{
    margin-top: 10px;
  }
}
.toggle_field{
  width: 50px;
  height: 25px;
  background: $gray_background;
  border-radius: 12px;
  @extend .flex-center;
  justify-content: flex-start;
  &:before{
    content: '';
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background: white;
    display: block;
    margin: 1px;
    transform: translate3d(0, 0, 0);
    transition: 0.3s;
  }
}
.buttons_wrapper{
  margin-top: 35px;
  @extend .flex-around;
}
.toggle_input:checked + .toggle_field{
  background: $blue;
  &:before{
    transform: translate3d(25px, 0, 0);
  }
}

@media screen and (max-width: 1050px){
  //.buttons_wrapper{
  //  flex-direction: column;
  //  align-items: center;
  //  justify-content: center;
  //}
  .form_button{
    padding: 8px 15px;
  }
}

@media screen and (max-width: 900px){
  .main_wrapper{
    flex-direction: column;
  }
  .room_thumbnail{
    height: 200px;
    margin-right: 0;
    &:before{
      font-size: 40px;
    }
    &:after{
      font-size: 18px;
    }
  }
  .right_zone_wrapper{
    margin: 20px 0 0 ;
  }
  .form_button{
    padding: 10px 35px;
  }
}

@media screen and (max-width: 450px){
  .form_button{
    font-size: 13px;
    padding: 7px 14px;
  }
}