.footer{
  @extend .flex-center;
font-family: $font_medium;
  padding: 12px 0;
  background: $blue;

  .link{
    padding: 8px 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      color: $dark_text;
    }
  }

}

@media screen and (max-width: 768px){
  .footer{
    flex-direction: column;
    .link{
      margin-bottom: 10px;
    }
  }
}