.footer{
  @extend .flex-center;
font-family: $font_medium;
  padding: 12px 0;
  background: $background;
  position: relative;
  .link{
    padding: 8px 15px;
    text-decoration: none;
    color: $gray_text;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    &:hover{
      color: $dark_text;
    }
  }
  .add_post{
    position: absolute;
    top: -30px;
    right: 100px;
    height: 66px;
    width: 66px;
    border-radius: 50%;
    background: $blue;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 30px;
    @extend .flex-center;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px){
  .footer{
    flex-direction: column;
    .link{
      margin-bottom: 10px;
    }
    .add_post{
      top: 30px;
      right: 20px;
    }
  }
}