:host{
  position: fixed;
  width: 100%;
  z-index: 3;
  left: 0;
  top: 0;

}
.header{
  width: 100%;
  color: $gray_text;
  background: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  .main_container{
    @extend .flex-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo{
    height: 32px;
    background: left center no-repeat;
    background-image: url("../../../img/Logo.png") ;
    margin: 14px 0;
    background-size: contain;
    padding-left: 80px;
    @extend .flex-center;
    justify-content: flex-start;
  }
  .header_link{
    font-size: 16px;
    color: $gray_text;
    font-family: $font_bold;
    transition: 0.3s;
   display: flex;
    align-items: flex-end;
    margin-left: 10px;
    cursor: pointer;
    padding: 8px 10px;
    line-height: 10px;
    &:before{
      font-size: 20px;
      display: block;
      margin-right: 8px;
      line-height: 16px;
    }
    &:hover{
      color: $blue;
    }
  }
  .search{
    border-radius: 5px;
    position: relative;
    max-width: 350px;
    width: 100%;
    transition: 0.3s;
  }

  .search_field{
    display: block;
    width: 100%;
    padding: 6px 45px 6px 10px;
    background: $light_gray;
    border: none;
    border-radius: 5px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $blue;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $blue;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $blue;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $blue;
  }
  .icon-search{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 45px;
    color: $blue;
    @extend .flex-center;
    font-size: 25px;
    cursor: pointer;
  }
  .icons_wrapper{
    @extend .flex-center;
  }
  .icon-bell-o,
  .icon-mail{
    height: 34px;
    width: 34px;
    @extend .flex-center;
    background: $light_gray;
    font-size: 25px;
    color: $gray_text;
    border-radius: 50%;
    margin-right: 20px;
  }
  .icon-bell-o{
    &:before{
      font-size: 20px;
    }
  }
  .new_events{
    background: $blue;
    color: white;
    //position: relative;
    //&:after{
    //  content: '';
    //  position: absolute;
    //  top: 1px;
    //  right: 5px;
    //  padding: 3px;
    //  border-radius: 50%;
    //  background: $red_dot;
    //}
  }
  .active{
    color: $blue;
  }


  .user_info{
    .drop_down_menu{
      width: 110px;
      right: 0;
      top: 46px;
      left: auto;
    }
  }


  .new_notifications,
  .new_messages{
    .drop_down_menu{
      width: 300px;
      position: absolute;
      top: 47px;
      left: -150px;
    }
    .triangle{
      &:before{

        left: 56%;
      }
    }
  }
  .new_notifications{
    .text{
      font-family: $font_regular;
    }
  }



  .drop_down_item{
    border-top: none;
  }
  .messages_title{
    @extend .flex-between;
    align-items: center;
  }
  .messages_quantity{
    font-size: 12px;
  }
  .see_all_messages{
    width: 100%;
    padding: 10px;
    color: $blue;
    font-family: $font_bold;
    text-align: center;
    list-style: none;
  }
//.drop_down_profile_item{
//  padding: 10px;
//  background: $blue;
//  color: white;
//  font-family: $font_medium;
//  transition: 0.3s;
//  list-style: none;
//  &:hover{
//    color: $dark_text;
//  }
//  &:first-child{
//    border-radius: 5px 5px 0 0;
//  }
//  &:last-child{
//    border-radius: 0 0 5px 5px;
//  }
//  &:first-child:before{
//      content: '';
//      border-bottom: 10px solid $blue;
//      border-right: 10px solid transparent;
//      border-left: 10px solid transparent;
//      position: absolute;
//      top: -10px;
//      left: 50%;
//      transform: translateX(-50%);
//    }
//  &:first-child:after{
//      content: '';
//      height: 25px;
//      width: 100%;
//      background: transparent;
//      position: absolute;
//      top: -25px;
//      left: 0;
//    }
//  }
  .user_bar{
    height: 64px;
    width: 100%;
    background: white;
    @extend .flex-center;
    padding: 0 20px;
    transition: 0.5s;
    &:hover{
      background: $blue;
      .name,
      .date,
      .text{
        color: white;
      }
    }
  }
  .avatar{
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    @extend .backgr-center;
    background-color: $gray_text;
    margin-right: 10px;
    cursor: pointer;
    background-size: contain;
  }
  .user_name_and_date{
    font-family: $font_regular;
  }
  .top_wrapp{
    @extend .flex-between;

  }
  .name{
    font-size: 14px;
    color: $dark_text;
  }
  .date{
    font-size: 12px;
    color: $gray_text;
  }
  .text{
    color: $dark_text;
    white-space: nowrap;
    width: 215px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: $font_bold;
  }
.notification_data{
  padding: 5px 0;
  .name{
    color: $blue;
    line-height: 14px;
    &:before{
      margin-right: 10px;
      display: inline-block;
      line-height: 14px;
    }
  }
  .text{
    line-height: 16px;
  }
}

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* STYLES IE11 */
    .header{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
}

@media screen and (max-width: 1000px){
 .header{
   .logo{
     width: 100%;
   }
   .search{
     width: 50%;
   }
   .icons_wrapper{
     width: 50%;
     padding: 10px;
     justify-content: flex-end;
   }
   .new_notifications,
   .new_messages{
     .drop_down_menu{
       top: 44px;
     }
   }
   .user_info{
     .drop_down_menu{
       top: 43px;
     }
   }
   //.name_and_settings{
   //  max-width: 50%;
   //}
 }
}

@media screen and (max-width: 550px){
  .header{
    //.name_and_settings{
    //  width: 100%;
    //  text-align: center;
    //  max-width: 100%;
    //}
    .main_container{
      flex-direction: column;
    }
    .logo{
      margin: 10px auto;
      width: auto;
    }
    .search{
      width: 100%;
    }
    .icons_wrapper{
      justify-content: center;
      width: 100%;
    }
    .user_info{
      .drop_down_menu{
        right: -38%;
      }
    }

    .new_notifications,
    .new_messages{
      .drop_down_menu{
        width: 275px;
        left: -28px;
      }
      .triangle{
        &:before{
          left: 16%;
        }
      }
      .text{
        width: 190px;
      }
    }

    .new_notifications{
      .drop_down_menu{
        left: -85px;
      }
      .triangle{
        &:before{
          left: 37%;
        }
      }
    }


    .header_link{
      font-size: 12px;
      padding: 5px;
      &:before{
        line-height: 12px;
        font-size: 15px;
      }
    }
  }
}