:host {
  flex: auto;
  width: 100%;
  background: $posts_background;
  color: $gray_text;
  @extend .flex-column;
  margin: 0 auto;
}

.tags_wrapp{
  @extend .flex-center;
  margin: 30px auto 5px;
}
.tags{
  width: 165px;
  height: 35px;
  border-radius: 5px;
  background: white;
  @extend .flex-center;
  color: $gray_text;
  margin: 0 10px;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    color: white;
    background: $blue;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  }
  &:active{
    box-shadow: none;
  }
}
.active{
  background: $blue;
  color: white;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}
.notifications_wrapp{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: calc(100vh - 130px);
  overflow-y: auto;
  background: $posts_background;
}

.notification_bar{
  height: 80px;
  width: 100%;
  background: white;
  @extend .flex-center;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0 20px;
  transition: 0.5s;
  margin-bottom: 15px;
  border: 1px solid $border_menu;
  &:first-child{
    margin-top: 30px;
  }

}
.avatar{
  display: block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  @extend .backgr-center;
  background-color: $gray_text;
  margin-right: 10px;
  background-size: contain;
  cursor: pointer;
}
.notification_data{
  @extend .flex-column;
}
.string{
  @extend .flex-default;
}
.name{
  font-size: 16px;
  color: $dark_text;
  font-family: $font_bold;
  @extend .flex-center;
  margin-right: 10px;
  &:before{
    margin-right: 5px;
  }
}
.date{
  font-size: 12px;
  color: $gray_text;
}
.text{
  color: $dark_text;
  font-family: $font_regular;
}

@media screen and (max-width: 1000px){

  .notifications_wrapp{
    height: calc(100vh - 187px);
  }
}

@media screen and (max-width: 550px){

  .tags{
    width: 120px;
    font-size: 14px;
  }
  .notifications_wrapp{
    height: calc(100vh - 70px);
    transition: 0.5s;
  }
  .notification_data{
    width: calc(100% - 50px);
  }
  .avatar{
    width: 40px;
    height: 40px;
  }
  .string{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}