
.modal_wrapper{
  width: 100%;
  height: 600px;
  border-radius: 5px;
  background: white;
  position: relative;
  padding: 30px;
  @extend .flex-default;
  color: $gray_text;
  font-family: $font_medium;
}
.close_button{
  position: absolute;
  color: white;
  top: -17px;
  right: -40px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    color: $blue;
  }
}
.slider_container{
  width: 545px;
  padding-right: 30px;
}
.scrollable_part{
  overflow-y: auto;
  padding-right: 30px;
  height: calc(100% - 50px);
  padding-bottom: 20px;
}
.post_content{
  flex: 1;
  position: relative;
  height: 100%;
}

.post_info{
  @extend .flex-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid $line;
}
.date{
  font-size: 14px;
}

.post_body{
  padding: 30px 0;
}
.post_text{
  color: $dark_text;
  font-family: $font_regular;
}
.dots_wrapp{
  padding: 5px 0;
}

.sort_select{
  background: white;
  border: none;
  color: $gray_text;
}
.post_footer{
  width: 100%;
  padding: 15px 0;
  @extend .flex-between;
  border-top: 1px solid $line;
  border-bottom: 1px solid $line;
}
.sort_by{
  font-size: 11px;
}
.sort_kind{
  margin-left: 5px;
  text-decoration: underline dotted;
  font-family: $font_bold;
}
.icons_wrapper{
  @extend .flex-center;
}
.icon-heart-o,
.icon-bubble{
  @extend .flex-center;
  margin-right: 15px;
  font-size: 13px;
  &:last-child{
    margin-right: 0;
  }
}
.icon-heart-o{
  margin-left: 1px;
  &:before{
    color: $gray_text;
    margin-right: 5px;
    font-size: 18px;
  }
}
.icon-bubble{
  &:before{
    color: $blue;
    margin-right: 5px;
    font-size: 18px;
  }
}
.icon-heart{
  margin-left: 1px;
  &:before{
    color: $red;
  }
}
//.drop_down_title{
//  padding: 10px;
//  font-size: 16px;
//}
.ban-days{
  width: 100%;
  height: 30px;
  margin-top: 5px;
  font-size: 16px;
}
.progress_wrapp{
  width: 100%;
  @extend .flex-default;
  align-items: center;
margin-top: 5px;

}
.curent_vote_value{
  color: $dark_text;
  font-family: $font_bold;
  padding-left: 10px;
}
.progress_bar{
  width: 100%;
  text-align: left;
  display: block;
}
.inside_bar{
  margin-left: 10px;
  @extend .flex-default;
  align-items: center;
}
.vote_field{
  background: #c5e1e6;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #343a40;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 12px;
  cursor: pointer;
  white-space: normal;
  overflow: hidden;
  text-align: center;
}
.vote_info_wrapp{
  color: $gray_text;
  font-size: 12px;
  margin-top: 15px;
}
.icon-square-check,
.icon-calendar{
  margin-right: 10px;
  &:before{
    margin-right: 3px;
  }
}
.choosen_variant{
  font-size: 14px;
  line-height: 30px;
  font-family: $font_bold;
}
//.icon-circle-check{
//  &:before{
//    color: $blue;
//    font-size: 16px;
//    line-height: 30px;
//    display: inline-block;
//    margin-right: 15px;
//  }
//}
.comments_not_allowed{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background: linear-gradient(to top, white, white, white, transparent);
  color: $dark_text;
  font-size: 18px;
  @extend .flex-center;
}
.new_comment_wrapp{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  @extend .flex-default;
  flex-wrap: wrap;
  background: linear-gradient(to top, white, white, white, transparent);
  &:before{
    content: '';
    display: block;
    width: 100%;
    height: 25px;
    background: transparent;
  }
}
.alighn_wrapp{
  @extend .flex-center;
  position: relative;
  width: 100%;
  background: white;
}
.text_field{
  border: 1px solid $gray_text;
  border-radius: 5px;
  padding: 7px 70px 7px 10px;
  width: calc(100% - 70px);
  margin-right: 20px;
  height: 50px;
  resize: none;
  line-height: 31px;
  transition: 0.3s;
  &:focus{
    height: 230px;
  }
}
.add_button_wrapp{
  position: absolute;
  top: 50%;
  right: 90px;
  transform: translateY(-50%);
}
.add_button{
  color: $blue;
  font-size: 24px;
  @extend .flex-center;
  cursor: pointer;
  width: 50px;
  height: 48px;
  @extend .backgr-center;
  background-size: contain;
}
.with_spinner > .add_button{
  display: none;
}

.with_spinner{
  &:before{
    content: '';
    background: center center no-repeat;
    background-image: url('../../../img/spinner.gif');
    display: block;
    height: 50px;
    width: 50px;
    background-size: 60%;
    z-index: 2;
  }

}
.send_button{
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  background: $blue;
  font-size: 24px;
  text-align: center;
  border: none;
  &:before{
    line-height: 50px;
  }
}
.comments{
  .post_info{
    border: none;
  }
  .avatar{
    height: 25px;
    width: 25px;
  }
}
.comment_body{
  margin-left: 46px;
}
.comment_text{
  color: $dark_text;
  font-size: 13px;
}
.picture{
  display: block;
  height: 100px;
  background-size: contain;
  margin-top: 10px;
  @extend .backgr-center;

}
.loading{
  padding: 30px;
  text-align: center;
  animation: blink 1.5s linear infinite;
  color: $dark_text;
  font-size: 15px;
  display: block;
  width: 100%;
}
@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.comment_footer{
  padding: 10px 0 10px 46px;
  border-bottom: 1px solid $line;
  @extend .flex-between;
}
.drop_down_menu{
  top: 29px;
}
.triangle{
  &:before{
    left: 84%;
  }
  &:after{
    left: 84%;
  }
}

@media screen and (max-width: 1260px){
  .close_button{
    color: $gray_text;
    top: 0;
    right: 0;
    padding: 6px;
    line-height: 15px;
  }
}

@media screen and (max-width: 1000px){
  .modal_wrapper{
    flex-direction: column;
    height: auto;
  }
  .slider_container{
    width: 100%;
    height: 40vh;
    padding: 0;
  }
  .post_content{
    height: 45vh;
    margin-top: 25px;
  }
  .post_info{
    border-top: 1px solid $line;
  }
}