:host{
  flex: 1;
  background: $line;
  margin-top: 60px;
  font-family: $font_medium;
  width: 100%;
}
.room_settings_header{
  min-height: 60px;
  background: $light_gray;
  color: $blue;
  @extend .flex-center;
  font-size: 24px;
}
.main_container{
  display: flex;
  align-items: flex-start;
  margin-top: 35px;
}
.aside{
  width: 190px;
}
.aside_items{
  list-style: none;
  color: $dark_text;
  font-size: 16px;
  padding: 8px 0;
  cursor: pointer;
  &:hover{
    color: $blue;
  }
}
.aside_items_title{
  text-transform: uppercase;
  color: $gray_text;
  margin-top: 20px;
  cursor: default;
  &:hover{
    color: $gray_text;
  }
  &:first-child{
    margin-top: 0;
  }
}
.active{
  color: $blue;
}
.main_field{
  flex: 1;
  @extend .flex-column;
  align-items: center;
}
.confirm_block{
  padding: 10px 0 0;
  @extend .flex-between;
}
.action_button{
  border: none;
  padding: 7px 15px;
  color: white;
  background: $blue;
  cursor: pointer;
  transition: 0.3s;
  &:hover:first-child{
    color: $green;
  }
  &:hover:last-child{
    color: $red_dot;
  }
  &:first-child{
    margin-right: 5px;
  }
  &:last-child{
    margin-left: 5px;
  }
}

@media screen and (max-width: 768px){
  :host{
    margin-top: 115px;
  }
  .main_container{
    flex-direction: column;
  }
  .aside{
    width: 100%;
  }
  .aside_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .aside_items_title{
    width: 100%;
    text-align: center;
  }
  .main_field{
    width: 100%;
    margin-top: 25px;
  }
}

@media screen and (max-width: 550px){
  :host{
    margin-top: 142px;
  }
}