:host{
  flex: auto;
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.image{
  max-width: 880px;
  background: center center no-repeat;
  background-image: url("../../../img/login_bgr.png");
  background-color: $blue;
  flex: 1.23;
}
.form_wrapper{
  flex: 1;
  @extend .flex-center;
  flex-wrap: wrap;
}
.form{
  @extend .flex-column;
  align-items: center;
  font-family: $font_medium;
  margin-top: auto;
  max-width: 300px;
}
.title{
  font-size: 30px;
  color: $blue;
}
.title_bold{
  text-transform: uppercase;
  font-family: $font_bold;
  font-size: 36px;
}
.subtitle{
  color: $dark_text;
  max-width: 300px;
  text-align: center;
  margin-top: 35px;
}
.input_wrapp{
  @extend .flex-column;
  color: $gray_text;
  align-items: flex-start;
  position: relative;
  margin-top: 10px;
  width: 85%;
  &:before{
    position: absolute;
    left: 8px;
    top: 35px;
    font-size: 20px;
  }
}
.icon-head{
  &:before{
    font-size: 16px;
  }
}
.input_field{
  border: 1px solid $gray_text;
  border-radius: 5px;
  padding: 8px 10px 8px 30px;
  width: 100%;
}
.mistake{
  display: none;
  width: 100%;
  padding: 8px;
  background: $red_dot;
  font-family: sans-serif;
  border-radius: 5px;
  margin-top: 3px;
  text-align: center;
  color: white;
}

.input_field.ng-touched.input_field.ng-valid{
  border: 1px solid green;
}
.input_field.ng-touched.input_field.ng-invalid{
  border: 1px solid $red_dot;
}
.input_field.ng-touched.input_field.ng-invalid ~ .mistake{
  display: block;
}

.form_button{
  border: none;
  background: $blue;
  color: white;
  font-family: $font_bold;
  text-align: center;
  padding: 10px 45px;
  border-radius: 27px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
  margin-top: 35px;
  cursor: pointer;
}
.link_prew{
  font-size: 14px;
  color: $gray_text;
  margin-top: 37px;
}
.link_to{
  color: $blue;
  font-size: 14px;
  margin-left: 5px;
  text-decoration: underline;
  cursor: pointer;
}
.footer_wrapper{
  align-self: flex-end;
  width: 100%;
}
.links_wrap{
  @extend .flex-center;
}
.app_links{
  display: block;
  height: 45px;
  width: 138px;
  background-repeat: no-repeat;
  background-size: 216%;
  margin: 0 7px;
}
.apple{
  background-image: url("../../../img/app_store.png");
  background-position: 0 -1px;
  &:hover{
    background-position: 0 -62px;
  }
}
.android{
  background-image: url("../../../img/app_store.png");
  background-position: -157px -1px;
  &:hover{
    background-position: -157px -62px;
  }
}
.form_footer{
  @extend .flex-center;
  font-family: $font_medium;
  padding: 12px 0;
  margin-top: 20px;
  .link{
    padding: 8px 15px;
    text-decoration: none;
    color: $gray_text;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    &:hover{
      color: $dark_text;
    }
  }
}

@media screen and (max-width: 1000px){
.image{
  display: none;
}

}

@media screen and (max-width: 400px){
  .form_footer{
    .link{
      padding: 8px 8px;
      font-size: 12px;
    }
  }

}