:host{
  display: block;
  height: 100%;
}
.carousel {
  height: 100%;
}
.carousel-inner{
  height: 100%;
}
.carousel-item{
  height: 100%;
}
.carousel-indicators{
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
  margin: auto;
  align-items: center;
}
.picture{
  @extend .backgr-center;
  background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 509px;
}
.video{
  margin-bottom: 30px;
}
.audio{
  @extend .flex-default;
  flex-direction: column-reverse;
  height: 92%;
}

@media screen and (max-width: 1000px) {
  .pdf_wrapp{

    max-height: 350px;
  }
  .picture{
    min-height: 0;
    align-items: center;
  }
}