:host{
  display: block;
  height: 100%;
}
.carousel {
  height: 100%;
}
.carousel-inner{
  height: 100%;
}
.carousel-item{
  height: 100%;
}
.carousel-indicators{
  height: 30px;
  background: rgba(0, 0, 0, 0.2);
  margin: auto;
  align-items: center;
}
.picture{
  @extend .backgr-center;
  //background-size: contain;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 509px;
}
.video{
  margin-bottom: 30px;
}
.audio{
  @extend .flex-default;
  flex-direction: column-reverse;
  height: 92%;
}
.pdf{
  margin-bottom: 30px;
  position: relative;
}

.zoom_control{
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  opacity: 0.9;
  z-index: 5;
  user-select: none;
  animation: zoom_ctrl_fade 5s linear forwards;
  &:hover{
    animation: zoom_ctrl 0.5s linear forwards;
  }
}
@keyframes zoom_ctrl_fade {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes zoom_ctrl_show {
  0% { opacity: 0; }
  100% { opacity: 0.9; }
}
.zoom_items{
  padding: 5px;
  color: $gray_text;
}
.controls{
  cursor: pointer;
  &:hover{
    color: $dark_text;
  }
}
.download_link{
  position: absolute;
  top: 0;
  right: 20%;
  font-size: 20px;
  color: $gray_text;
  animation: zoom_ctrl_fade 5s linear forwards;
  z-index: 5;
  display: block;
  padding: 5px;
  text-decoration: none;
  &:hover{
    animation: zoom_ctrl 0.5s linear forwards;
    text-decoration: none;
    color: $dark_text;
  }
}
.pdf_wrapp{
  overflow: auto;
  height: 100%;
  width: 100%;
  max-height: 509px;
}


@media screen and (max-width: 1000px) {
  .pdf_wrapp{

    max-height: 350px;
  }
  .picture{
    min-height: 350px;
  }
}