:host{
  width: 100%;
  max-width: 800px;
}
.modal_wrapper{
  width: 100%;
  border-radius: 5px;
  background: white;
  position: relative;
  padding: 30px;
  border: 1px solid $border_menu;
}

.top_wrapper{
  @extend .flex-between;
  align-items: center;
}
.title{
  color: $blue;
  font-family: $font_bold;
  text-transform: capitalize;
  font-size: 20px;
}
.main_wrapper{
  @extend .flex-default;
  width: 100%;
  min-height: 350px;
  margin-top: 10px;
}
.image_cropper_wrapp{
  position: relative;
  flex: 1;
  margin-right: 15px;
  background: $gray_background;
  border-radius: 5px;
  max-height: 350px;
}
.image_preview{
  position: absolute;
  border: 3px solid white;
  top: 0;
  right: 0;
  width: 80px;
  height: 80px;
}
.room_thumbnail{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s;
  @extend .backgr-center;
  background-size: contain;
  @extend .flex-center;
  flex-direction: column;
  white-space: nowrap;
  &:before{
    font-size: 60px;
    color: $blue;
  }
  &:after{
    content: "Add room cover";
    font-size: 25px;
    color: $gray_text;
    margin-top: 20px;
    font-family: $font_medium!important;
  }
}
.image_dropped{
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  padding: 5px;
  &:before{
    font-size: 30px;
  }
  &:after{
    display: none;
  }
}
.right_zone_wrapper{
  flex: 1;
  margin-left: 15px;
}
.room_description{
  resize: none;
}

.form_button{
  border: none;
  background: $blue;
  color: white;
  font-family: $font_bold;
  text-align: center;
  padding: 10px 45px;
  border-radius: 27px;
  margin: 35px auto 0;
  cursor: pointer;
  display: block;
  &:hover{
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.3);
  }
  &:active{
    box-shadow: none;
  }
}

.input_wrapp{
  @extend .flex-column;
  color: $blue;
  font-weight: 600;
}
.with_margin{
  margin-top: 10px;
  .input_field{
    margin-top: 10px;
    &:first-child{
      margin-top: 0;
    }
  }
}
.input_field{
  border: 1px solid $gray_background;
  border-radius: 5px;
  padding: 7px 10px;
  width: 100%;
}
.toggle_wrapper{
  color: $dark_text;
  @extend .flex-between;
  align-items: center;
  &:last-child{
    margin-top: 10px;
  }
}
.toggle_field{
  width: 50px;
  height: 25px;
  background: $gray_background;
  border-radius: 12px;
  @extend .flex-center;
  justify-content: flex-start;
  &:before{
    content: '';
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background: white;
    display: block;
    margin: 1px;
    transform: translate3d(0, 0, 0);
    transition: 0.3s;
  }
}
.toggle_input:checked + .toggle_field{
  background: $blue;
  &:before{
    transform: translate3d(25px, 0, 0);
  }
}

.mistake{
  display: none;
  width: 100%;
  padding: 8px;
  background: $red_dot;
  font-family: sans-serif;
  border-radius: 5px;
  margin-top: 3px;
  color: white;
}


.input_field.ng-touched.input_field.ng-invalid{
  border: 1px solid $red_dot;
}
.input_field.ng-touched.input_field.ng-invalid ~ .mistake{
  display: block;
}





@media screen and (max-width: 860px){
  .main_wrapper{
    flex-direction: column;
  }
  .image_cropper_wrapp{
    height: 200px;
    margin-right: 0;
  }
  .room_thumbnail{
    &:before{
      font-size: 40px;
    }
    &:after{
      font-size: 18px;
    }
  }
  .right_zone_wrapper{
    margin: 20px 0 0 ;
  }
}