:host{
  flex: auto;
  margin-bottom: 30px;
  @extend .flex-column;
  background: white;
}
.chat_and_form_wrapp{
  width: 100%;
  flex: auto;
  @extend .flex-column;
}
.position_container{
  position: relative;
  flex: auto;
}
.chat_wrapp{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  border-radius: 5px;
  padding: 30px;
  background: white;
}
.user_content_wrapp{
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
.user_info_wrapp{
  @extend .flex-column;
  align-items: center;
  margin-right: 20px;
}
.user_avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  @extend .backgr-center;
  background-color: $gray_text;
  background-size: contain;
}
.message_time{
  color: $gray_text;
  font-size: 11px;
}
.messages_wrapp{
  @extend .flex-column;
  align-items: flex-start;
  padding: 16px 32px 16px 16px;
  border-radius: 5px;
  background: $line;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  &:after{
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-right: 20px solid $line;
    border-bottom: 10px solid transparent;
    position: absolute;
    top: 0;
    left: -15px;
  }
}
.message{
  color: $dark_text;
}


.my_messages{
  flex-direction: row-reverse;
  .user_info_wrapp{
    margin-right: 0;
    margin-left: 20px;
  }
  .user_avatar{
    margin-right: 0;
  }
  .messages_wrapp{
    order: 1;
    align-items: flex-end;
    background: $blue;
    color: white;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.2);
    padding: 16px 16px 16px 32px;
    &:after{
      border-right: none;
      border-left: 20px solid $blue;
      border-bottom: 10px solid transparent;
      left: auto;
      right: -15px;
    }
  }
}
.my_messages ~ .my_messages{
  margin-top: 5px;
  align-items: center;
  .message_time{
    display: block;
    width: 40px;
    text-align: center;
  }
  .user_avatar{
    display: none;
  }
  .messages_wrapp{
    &:after{
      display: none;
    }
  }
}
.not_my_messages ~ .not_my_messages{
  margin-top: 5px;
  align-items: center;
  .message_time{
    display: block;
    width: 40px;
    text-align: center;
  }
  .user_avatar{
    display: none;
  }
  .messages_wrapp{
    &:after{
      display: none;
    }
  }
}
.image{
  display: block;
  width: 100%;
  min-width: 350px;
  height: 280px;
  margin: 10px auto 5px;
  border-radius: 5px;
  @extend .backgr-center;
  background-size: cover;
}
.form{
  padding: 20px;
  margin: 0 30px 20px;
  border-radius: 5px;
  background: $line;
  @extend .flex-between;
  align-items: center;
  border: 1px solid $border_menu;
}
.input_field{
  border: 1px solid $border_menu;
  border-radius: 5px;
  padding: 10px;
  flex: auto;
  resize: none;
  height: 46px;
  transition: 0.5s;
  &:focus{
    height: 100px;
  }
}
.add_button_wrapp{
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-right: 20px;
}
.add_button{
  height: 100%;
  width: 100%;
  color: $blue;
  font-size: 25px;
  @extend .flex-center;
  cursor: pointer;
  background-size: cover;
}
.send_button{
  height: 50px;
  width: 50px;
  color: $blue;
  font-size: 25px;
  cursor: pointer;
  margin-left: 20px;
  background: none;
  border: none;
  text-align: center;
  &:before{
    line-height: 50px;
  }
}
.with_spinner > .add_button{
  display: none;
}

.with_spinner{
  &:before{
    content: '';
    background: center center no-repeat;
    background-image: url('../../../img/spinner.gif');
    display: block;
    height: 50px;
    width: 50px;
    background-size: 60%;
    z-index: 2;
  }

}
.icon-trashcan{
  position: absolute;
  padding: 5px;
  top: 0;
  right: 0;
  cursor: pointer;
  &:before{
    transition: 0.5s;
  }
  &:hover{
    &:before{
      color: $blue;
    }
  }
}
.my_messages{
  .icon-trashcan{
    top: 0;
    right: auto;
    left: 0;
    &:hover{
      &:before{
        color: $dark_text;
      }
    }
  }
}

@media screen and (max-width: 1000px){


}

@media screen and (max-width: 550px){
  .chat_wrapp{
    padding: 10px;
  }
  .image{
    height: 150px;
    min-width: 150px;
  }
  .message{
    font-size: 14px;
  }
  .form{
    padding: 5px;
    margin: 0 5px 5px;
  }
  .add_button_wrapp{
    height: 30px;
    width: 30px;
    margin-right: 5px;
  }
  .add_button{
    font-size: 20px;
  }
  .input_field{
    padding: 8px;
    font-size: 14px;
  }
  .send_button{
    height: 30px;
    width: 30px;
    font-size: 20px;
    margin-left: 5px;
    &:before{
      font-size: 20px;
    }
  }
}