:host{
  flex: auto;
  margin-bottom: 30px;
  @extend .flex-column;
  background: white;
}
.chat_and_form_wrapp{
  width: 100%;
  flex: auto;
  @extend .flex-column;
}
.position_container{
  position: relative;
  flex: auto;
}
.chat_wrapp{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  border-radius: 5px;
  padding: 30px;
  background: white;
}
.user_content_wrapp{
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 25px 0;
}
.user_info_wrapp{
  @extend .flex-column;
  align-items: center;

}
.user_avatar{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  @extend .backgr-center;
  background-color: $gray_text;
  margin-right: 20px;
}
.message_time{
  color: $gray_text;
  margin-top: 10px;
}
.messages_wrapp{
  @extend .flex-column;
  align-items: flex-start;
}
.message{
  padding: 15px;
  border-radius: 25px;
  background: $line;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  color: $dark_text;
  margin-bottom: 10px;

  &:first-child{
    border-radius: 0 25px 25px 25px;
    &:before{
      content: '';
      display: block;
      height: 0;
      width: 0;
      border-right: 20px solid $line;
      border-bottom: 10px solid transparent;
      position: absolute;
      top: 0;
      left: -15px;
    }
  }
  &:not(:last-child){
    border-radius: 5px 25px 25px 5px;
  }

}
.message ~ .message{
  border-radius: 5px 25px 25px 5px;
  &:last-child{
    border-radius: 5px 25px 25px 25px;
  }
}

.my_messages{
  flex-direction: row-reverse;
  .user_avatar{
    margin-right: 0;
    margin-left: 20px;
  }
  .messages_wrapp{
    order: 1;
    align-items: flex-end;
  }
  .message{
    background: $blue;
    color: white;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.2);

    &:first-child{
      border-radius:  25px 0 25px 25px;
      &:before{
        border-right: none;
        border-left: 20px solid $blue;
        border-bottom: 10px solid transparent;
        left: auto;
        right: -15px;
      }
    }
    &:not(:last-child){
      border-radius: 25px  5px 5px 25px;
    }
  }

  .message ~ .message{
    border-radius: 25px 5px 5px 25px;
    &:last-child{
      border-radius: 25px 5px 25px 25px;
    }
  }
}
.image{
  display: block;
  width: 100%;
  max-width: 415px;
  height: 280px;
  margin: 10px auto 0;
  border-radius: 5px;
}
.form{
  padding: 20px;
  margin: 0 30px 20px;
  border-radius: 5px;
  background: $line;
  @extend .flex-between;
  align-items: center;
  border: 1px solid $border_menu;
}
.input_field{
  border: 1px solid $border_menu;
  border-radius: 5px;
  padding: 8px 10px 8px 30px;
  flex: auto;
  resize: none;
  height: 45px;
  transition: 0.5s;
  &:focus{
    height: 100px;
  }
}
.add_button_wrapp{
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-right: 20px;
}
.add_button{
  height: 100%;
  width: 100%;
  color: $blue;
  font-size: 25px;
  @extend .flex-center;
  cursor: pointer;
}
.send_button{
  height: 50px;
  width: 50px;
  color: $blue;
  font-size: 25px;
  cursor: pointer;
  margin-left: 20px;
  background: none;
  border: none;
  text-align: center;
  &:before{
    line-height: 50px;
  }
}

@media screen and (max-width: 1000px){


}

@media screen and (max-width: 550px){


}