$light_gray: #f8f9fa;
$light_blue: #ecf6fb;
$orange: #ecb255;
$blue: #00add2;
$red: #c4205b;
$red_dot: #fa5252;
$gray_text: #868e96;
$dark_text: #343a40;
$background: #fef9f2;
$room_green: #78de9a;
$room_blue: #5caedd;
$room_wiolet: #9954ee;
$room_red: #e64980;
$room_yello: #fab005;
$room_light_green: #a9e34b;

$font_regular: Regular, sans-serif;
$font_medium: Medium, sans-serif;
$font_bold: Bold, sans-serif;